
.block{
	padding: 10px;
}
h1{
	font-size: 1.5em;
}
.btn-primary{
	background-color: #2164b2;
}

body .nav-bar .nav-header{
	padding: 15px;
	background-image: url("../images/header.png");
}

/*navbar*/

div.nav-bar .nav{
	background-color: #1cb1d2;
	height: 41px;
}

div.nav-bar ul.breadcrumb {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 50px;
	overflow: hidden;
	background-color: inherit;
	color: #ffffff;
}
div.nav-bar ul.breadcrumb > li + li:before {
	content: ">";
	color: #000000;
}

div.nav-bar .breadcrumb li {
	float:left;
	text-align: center;
	text-decoration: none;
}
div.nav-bar .breadcrumb li a{
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	padding: 12px 16px;
	font-size: 12px;
}
div.nav-bar .breadcrumb li a.active{
	color: #000000;
}

div.nav-bar ul.nav-menu {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #1cb1d2;
	float: right;
}
div.nav-bar .nav-menu li {
	float:right;
	color: #000000;
}
div.nav-bar .nav-menu li.active,
div.nav-bar .nav-menu li:hover{
	background-color: #2164b2;
	color: #ffffff;
}

div.nav-bar .nav-menu li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 12px;
}
div.nav-bar .nav-menu li.active a,
div.nav-bar .nav-menu li:hover a{
	color: #ffffff;
}



div.userTable > .header > .inputs > *{
	display: inline-block;
	width: 15%;
	padding-left: 10px;
}
div.userTable > .header > .inputs > h1{
	padding: 5px;
	margin: 0px;
	width: 54%;
}

div.userTable table th{
	background-color: #2164b2;
}
div.userTable table th:nth-child(1) {
	width: 3%;
}
div.userTable table th:nth-child(2) {
	width: 14%;
}
div.userTable table th:nth-child(3) {
	width: 10%;
}
div.userTable table th:nth-child(4) {
	width: 8%;
}
div.userTable table th:nth-child(5) {
	width: 15%;
}
div.userTable table th:nth-child(6) {
	width: 9%;
}
div.userTable table th:nth-child(7) {
	width: 9%;
}
div.userTable table th:nth-child(8) {
	width: 9%;
}
div.userTable table th:nth-child(9) {
	width: 9%;
}
div.userTable table th:nth-child(10) {
	width: 9%;
}
div.userTable table th:nth-child(11) {
	width: 5%;
}
div.userTable table th a{
	text-decoration: none;
	font-size: 12px;
}

div.userTable table th ul a{
	color: #000000;
}

div.userTable table th a{
	color: #ffffff;
}
div.userTable table td{
	font-size: 12px; 
	background-color: #e6e6fa;
}
div.userTable table td *{
	font-size: 12px; 
	color: #000000;
}

div.reports-header *,
div.reports-header input,
div.reports-header select{
	text-overflow: ellipsis;
}

div.reports-header ul li a,
div.reports-header label{
	font-size: 12px;
}


div.editUser label{
	font-size: 12px;
}


div.createUser label{
	font-size: 12px;
}

body *{
	/*border: 1px solid black;*/
	font-family: 'Roboto', sans-serif;
}