NMSReportingSuite/.idea/
NMSReportingSuite/NMSReportingSuite.iml
NMSReportingSuite/src/main/resources/app.properties
NMSReportingSuite/target
app/.idea/
app/bower_components/
app/scripts/global/urls.js
NMSReportingSuite/src/main/java/com/beehyv/nmsreporting/utils/Global.java
app.zip
