NMSReportingSuite/.idea/
NMSReportingSuite/NMSReportingSuite.iml
NMSReportingSuite/src/main/resources/app.properties
NMSReportingSuite/target
app/.idea/
app.zip
Email/NMSReportingSuite/.idea/
Email/NMSReportingSuite/NMSReportingSuite.iml
Email/NMSReportingSuite/src/main/resources/app.properties
Email/NMSReportingSuite/target/
