<!DOCTYPE html>
<html data-ng-app="nmsReports" data-ng-controller="MainController">
<head>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name=”description” content="Ministry of Health and Family Welfare (MoHFW) deliver qaulity
	Ante Natal Care (ANC) and Post Natal Care (PNC). National Motech System (NMS) is scaled to pan-india level.
	Kilkari is the IVR service, uses Out Bound Calls (OBDs), deliver time-sensitive audio information
	about maternity and child health. Kilkari service covers the critical time period, Service is toll free,
	deliver weekly messages.">
	<meta name="keywords" content="Ante Natal Care, Post Natal Care, Ministry of Health and Family Welfare, National Motech System, Out Bound Calls, Kilkari Service,
	Maternity, Child health, IVR service, ASHA Foundation, ASHAs, weekly messages, ANC,PNC, MoHFW, Ministry of Health, Family Welfare, Family, Welfare, Bound Calls">

    <script type="text/javascript" src="bower_components/pdfmake/build/pdfmake.js"></script>
    <script type="text/javascript" src="bower_components/pdfmake/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-validate/dist/validate.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-grid/ui-grid.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="bower_components/angularjs-captcha/dist/angularjs-captcha.min.js"></script>
	<script type="text/javascript" src="bower_components/re-tree/re-tree.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-carousel/dist/ui-carousel.js"></script>
	<script type="text/javascript" src="bower_components/ng-device-detector/ng-device-detector.js"></script>
	<script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
<script type="text/javascript" src="bower_components/angular-hitcounter/src/angular-hitcounter.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.12/xlsx.full.min.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>


	<script type="text/javascript" src="scripts/global/urls.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- main -->
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/json/user.json"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="scripts/controllers/main.js"></script>
	<script type="text/javascript" src="scripts/controllers/userManagement.js"></script>
	<script type="text/javascript" src="scripts/controllers/userTable.js"></script>
	<script type="text/javascript" src="scripts/controllers/editUser.js"></script>
	<script type="text/javascript" src="scripts/controllers/bulkUser.js"></script>
	<script type="text/javascript" src="scripts/controllers/createUser.js"></script>
	<script type="text/javascript" src="scripts/controllers/reports.js"></script>
	<script type="text/javascript" src="scripts/controllers/profile.js"></script>
	<script type="text/javascript" src="scripts/controllers/login.js"></script>
	<script type="text/javascript" src="scripts/controllers/forgotPassword.js"></script>
    <script type="text/javascript" src="scripts/controllers/changePassword.js"></script>


	<script type="text/javascript" src="scripts/controllers/feedbackForm.js"></script>
	<script type="text/javascript" src="scripts/controllers/feedbackForm1.js"></script>
	<script type="text/javascript" src="scripts/controllers/contactUs.js"></script>
	<script type="text/javascript" src="scripts/controllers/contactUsResponse.js"></script>

	<script type="text/javascript" src="scripts/controllers/userManual.js"></script>
	<script type="text/javascript" src="scripts/controllers/faq.js"></script>
	<script type="text/javascript" src="scripts/controllers/downloads.js"></script>
	<script type="text/javascript" src="scripts/controllers/staticPages.js"></script>
	<!-- Factory -->
	<!-- <script type="text/javascript" src="scripts/factories/navbar.js"></script> -->
	<script type="text/javascript" src="scripts/factories/userTable.js"></script>
	<script type="text/javascript" src="scripts/factories/auth.js"></script>
	<script type="text/javascript" src="scripts/factories/userForm.js"></script>
	<script type="text/javascript" src="scripts/factories/exportuiGrid.js"></script>

	<!-- Directives -->
	<script type="text/javascript" src="scripts/directives/pagination.js"></script>


	<script type="text/javascript" src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="styleSheet" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
	<link rel="styleSheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/style.css">

	<title>NMS Reporting - {{getTitle($state.current.name)}}</title>

</head>
<body>
<div class="main" >
    <div class='nav-bar'>
        <div class="nav-header">
            <img alt="Mobile Academy & Kilkari Management & information System" class="makmis-image" src="images/logo.png">
            <img alt="National Health Mission" class="nhm-image" src="images/national_health_mission.png" >
            <img alt="Digital india | power to empower" class="di-image" src="images/digital_logo.png" >

        </div>
        <div class="nav-bar-middle"></div>

        <div class="nav">

			<ul class="nav-menu-left" >
				<li data-ng-class="{active: activeTab('AboutUs')}">
					<a  data-ng-hide='disableCursor()' data-ng-click="goToAboutus()" class="pointer">About us</a>
					<a  data-ng-hide='!disableCursor()'  style="cursor: not-allowed">About us</a>
				</li>
				<li data-ng-class="{active: activeTab('AboutKilkari')}">
					<a data-ng-hide='disableCursor()'data-ng-click="goToKilkari()" class="pointer">Kilkari</a>
					<a data-ng-hide='!disableCursor()' style="cursor: not-allowed">Kilkari</a>
				</li>
				<li  data-ng-class="{active: activeTab('AboutMA')}">
					<a data-ng-hide='disableCursor()' data-ng-click="goToMobileA()" class="pointer">Mobile Academy</a>
					<a data-ng-hide='!disableCursor()'  style="cursor: not-allowed">Mobile Academy</a>
				</li>
				<li data-ng-class="{active: activeTab('userManual')}">
					<a  data-ng-hide='disableCursor()' data-ng-click="goToUserManual()"  class="pointer">User Manual</a>
					<a  data-ng-hide='!disableCursor()'  style="cursor: not-allowed">User Manual</a>
				</li>
				<li data-ng-class="{active: activeTab('faq')}">
					<a  data-ng-hide='disableCursor()' data-ng-click="goToFaq()" class="pointer">FAQ</a>
					<a  data-ng-hide='!disableCursor()'  style="cursor: not-allowed">FAQ</a>
				</li>
			</ul>

			<ul class="nav-menu right ">
				<li  data-ng-if='checkLogin()' data-ng-class="{active: activeTab('login')}">
					<a data-ng-if='(loginBool==true)' class="pointer"  data-ng-click="goToLogin()" >Login</a>
					<a data-ng-if='!(loginBool==true)'style="cursor: not-allowed" data-ng-click="goToLogin()" >Login</a>
				</li>
				<li data-ng-if='!checkLogin()' class="pd" data-ng-class="{active: checkProfile(),pd1:!checkLogin()}" >
					<a  ng-click="hovered()" class="pointer" href>
						{{currentUser.fullName}}<span  class="caret"></span>
					</a>
				</li>
				<li data-ng-class="{active: activeTab('contactUs')}">
					<a data-ng-hide='disableCursor()' data-ng-click="goToContactUs()" class="pointer">Contact us</a>
					<a data-ng-hide='!disableCursor()' style="cursor: not-allowed">Contact us</a>
				</li>
				<li data-ng-class="{active: activeTab('feedbackForm')}">
					<a data-ng-hide='disableCursor()' data-ng-click="goToFeedback()" class="pointer">Feedback</a>
					<a data-ng-hide='!disableCursor()'  style="cursor: not-allowed">Feedback</a>
				</li>

			</ul>

            <ul class="nav-menu" data-ng-hide='$state.current.name=="login" || $state.current.name=="forgotPassword" || currentUser.default  || currentUser.default == null '>

                <li class="pd" data-ng-class="{active: activeTab('userManagement'),pd1:!checkLogin()}" data-ng-if="currentUser.roleId!= null && currentUser.roleName != 'USER'">
                    <a  class="pointer" data-ng-class="{dis1: disableCursor()}" data-ng-click="goToUserTable()"  >User Management</a>
                </li>
                <li class="pd" data-ng-class="{active: reportsActive(),pd1:!checkLogin()}">
                    <a data-ng-class="{dis1: disableCursor()}" data-ng-click="goToReports()" class="pointer">Reports</a>
                 </li>
            </ul>

        </div>
    </div>



    <div ng-mouseleave="removed()" >
        <div ng-if="(show==true)" class="pd" data-ng-class="{pd1:show}"   >
            <ul class="profile-dropdown">
                <li data-ng-class="{activeP: activeTabProfile('profile')}" >
                    <a class="dropdown-buttons pointer" class="pointer" data-ng-class="{dis1: disableCursor()}" data-ng-click="goToProfile()">My Profile</a>

                </li>
                <li data-ng-class="{activeP: activeTabProfile('changePassword')}" >
                    <a class="dropdown-buttons pointer"  data-ng-click="goToChangePassword()" data-ng-class="{dis1: disableCursor()}" >Change Password</a>

                </li>
                <li >
                    <a class="dropdown-buttons" href={{logoutUrl}}>Logout</a>
                </li>
            </ul>
        </div>
    </div>




    <div class = "login-page content"  data-ui-view >
    </div>

	<div class='footer'>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<div>
				<a  data-ng-click="goToTandC()" class="pointer" data-ng-class="{dis: disableCursor()}">terms and conditions </a>

				<span> |</span>
				<a data-ng-click="goToPrivacyPolicy()" class="pointer" data-ng-class="{dis: disableCursor()}">privacy policy</a>

				<span> |</span>
				<a data-ng-click="goToCopyrightPolicy()" class="pointer" data-ng-class="{dis: disableCursor()}">copyright policy</a>

			</div>
			<div>
				<a data-ng-click="goToHLPolicy()" class="pointer" data-ng-class="{dis: disableCursor()}">hyperlinking policy </a>

				<span> |</span>
				<a data-ng-click="goToDisclaimer()" class="pointer" data-ng-class="{dis: disableCursor()}">disclaimer</a>

				<span> |</span>
				<a data-ng-click="goToHelp()" class="pointer" data-ng-class="{dis: disableCursor()}">help</a>

				<span> |</span>
				<a data-ng-click="goToSitemap()" class="pointer" data-ng-class="{dis: disableCursor()}">Sitemap</a>


			</div>
			<div><!--<span>2017 all rights reserved - Mobile Academy & Kilkari Management and Information system</span>-->
				<span>Copyright &#169 2015 central information commision</span>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-5 footer-image">
			<img class="footer-logo" alt="india-logo" src="images/india-logo.png">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3 footer-right">
			<div>last updated</div>
			<div>Visitors: <!--<hit-counter style="background-color: #a4574c;color: white"></hit-counter></div>-->
				<img src='https://www.counter12.com/img-y1ZZZZDZD6BZy4C0-3.gif' class="visitors" alt='count'><script type='text/javascript' src='https://www.counter12.com/ad.js?id=y1ZZZZDZD6BZy4C0'></script></div>
			<div>Dt:  {{date | date:'medium'}}</div>
		</div>

    </div>
</div>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
</html>
