<!DOCTYPE html>
<html ng-app="nmsReports" ng-controller="MainController">
<head>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name=”description” content="Ministry of Health and Family Welfare (MoHFW) deliver qaulity
	Ante Natal Care (ANC) and Post Natal Care (PNC). National Motech System (NMS) is scaled to pan-india level.
	Kilkari is the IVR service, uses Out Bound Calls (OBDs), deliver time-sensitive audio information
	about maternity and child health. Kilkari service covers the critical time period, Service is toll free,
	deliver weekly messages.">
	<meta name="keywords" content="Ante Natal Care, Post Natal Care, Ministry of Health and Family Welfare, National Motech System, Out Bound Calls, Kilkari Service">

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-validate/dist/validate.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-grid/ui-grid.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="bower_components/angularjs-captcha/dist/angularjs-captcha.min.js"></script>
	<script type="text/javascript" src="bower_components/re-tree/re-tree.js"></script>
	<script type="text/javascript" src="bower_components/ng-device-detector/ng-device-detector.js"></script>
	<script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
	<script type="text/javascript" src="bower_components/pdfmake/build/pdfmake.js"></script>
	<script type="text/javascript" src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.12/xlsx.full.min.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>


	<script type="text/javascript" src="scripts/global/urls.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- main -->
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/json/user.json"></script>

	<!-- Controllers -->
	<script type="text/javascript" src="scripts/controllers/main.js"></script>
	<script type="text/javascript" src="scripts/controllers/userManagement.js"></script>
	<script type="text/javascript" src="scripts/controllers/userTable.js"></script>
	<script type="text/javascript" src="scripts/controllers/editUser.js"></script>
	<script type="text/javascript" src="scripts/controllers/bulkUser.js"></script>
	<script type="text/javascript" src="scripts/controllers/createUser.js"></script>
	<script type="text/javascript" src="scripts/controllers/reports.js"></script>
	<script type="text/javascript" src="scripts/controllers/profile.js"></script>
	<script type="text/javascript" src="scripts/controllers/login.js"></script>
	<script type="text/javascript" src="scripts/controllers/forgotPassword.js"></script>
    <script type="text/javascript" src="scripts/controllers/changePassword.js"></script>

	<!-- Factory -->
	<!-- <script type="text/javascript" src="scripts/factories/navbar.js"></script> -->
	<script type="text/javascript" src="scripts/factories/userTable.js"></script>
	<script type="text/javascript" src="scripts/factories/auth.js"></script>
	<script type="text/javascript" src="scripts/factories/userForm.js"></script>
	<script type="text/javascript" src="scripts/factories/exportuiGrid.js"></script>

	<!-- Directives -->
	<script type="text/javascript" src="scripts/directives/pagination.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="styleSheet" href="bower_components/angular-ui-grid/ui-grid.min.css"/>
	<link rel="styleSheet" href="bower_components/angular-material/angular-material.min.css"/>

	<link rel="stylesheet" href="styles/style.css">

	<title>NMS Reporting - {{getTitle($state.current.name)}}</title>

</head>
<body>
	<div class="main" >
		<div class='nav-bar'>
			<div class="nav-header">
				<img alt="Mobile Academy & Kilkari Management & information System" src="images/logo.png">
				<span ng-hide='$state.current.name=="login" || $state.current.name=="forgotPassword" ||  currentUser.default || currentUser.default == null '><b>Hello {{currentUser.fullName}}</b></span>
			</div>

			<div class="nav">
				<ul class="breadcrumb" ng-hide='$state.current.name=="login" || $state.current.name=="forgotPassword" || currentUser.default || currentUser.default == null'>
					<li ng-repeat="item in getBreadCrumb($state.current.name)">
						<a ng-if="item.name != 'User Management' && item.name != 'Edit User'" ui-sref='{{item.sref}}' ng-class="{'active': {{item.active}} }" >{{item.name}} </a>
						<a class="pointer" ng-click="goToUserTable()" ng-if="item.name == 'User Management'" ng-class="{'active': {{item.active}} }" >{{item.name}} </a>
                        <a class="pointer" ng-if="item.name == 'Edit User'" ng-class="{'active': {{item.active}} }" >{{item.name}} </a>
					</li>
				</ul>
				<ul class="nav-menu" ng-hide='$state.current.name=="login" || $state.current.name=="forgotPassword" || currentUser.default  || currentUser.default == null '>
					<li>
						<a href={{logoutUrl}}>Logout</a>
					</li>
                    <li ng-class="{active: activeTab('changePassword')}">
						<a ng-hide='(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))'ng-click="goToChangePassword()" class="pointer">Change Password</a>
                        <a ng-hide='!(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))'ng-click="goToChangePassword()" style="cursor:not-allowed">Change Password</a>
                    </li>
					<li ng-class="{active: activeTab('profile')}">
						<a ng-hide='(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))' ng-click="goToProfile()" class="pointer">My Profile</a>
						<a ng-hide='!(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))' ng-click="goToProfile()" style="cursor:not-allowed">My Profile</a>
					</li>
					<li ng-class="{active: activeTab('userManagement')}" ng-if="currentUser.roleId!= null && currentUser.roleName != 'USER'">
						<a ng-hide='(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))'class="pointer"  ng-click="goToUserTable()" >User Management</a>
						<a ng-hide='!(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))'class="pointer" style="cursor:not-allowed" ng-click="goToUserTable()" >User Management</a>
					</li>
					<li ng-class="{active: activeTab('reports')}">
						<a ng-hide='(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))' ng-click="goToReports()" class="pointer">Reports</a>
						<a ng-hide='!(!(($state.current.name)===("reports"))&&!(($state.current.name)===("profile"))&&!
                (($state.current.name)===("forgotPassword"))&&!(($state.current.name)===("changePassword"))&&!
                (($state.current.name)===("userManagement.bulkUpload"))&&!(($state.current.name)===("userManagement"))&&!
                (($state.current.name)===("userManagement.createUser"))&&!(($state.current.name)===("userManagement.userTable"))&&!
                (($state.current.name)===("userManagement.editUser")))' ng-click="goToReports()" style="cursor:not-allowed">Reports</a>
					</li>
				</ul>
			</div>
		</div>

		<div ui-view class="content">
		</div>

		<div class='footer'>
			<span>2017 all rights reserved - Mobile Academy & Kilkari Management and Information system</span>
		</div>
	</div>

	

</body>
</html> 