
		<h1>Welcome!</h1>

		<div id="div-login" class="form-horizontal col-sm-6" ng-controller="LoginController">
			<h1>Login</h1>
			<p class="error"></p>
			<form action="http://localhost:8080/NMSReportingSuite/nms/login" method="post">
			<!-- <form> -->
				<div class="form-group">
					<input type="text" class="form-control" ng-model="user.username" name="username" placeholder="Username" >
				</div>
				<div class="form-group">
					<input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<input type="checkbox" class="form-control" ng-model="user.rememberMe" name="rememberMe">
				</div>
				<!-- <button id="btn-login" class="btn btn-default" ng-click="login()">Login</button> -->
				<button id="btn-login" class="btn btn-default">Login</button>
			</form>
		</div>
