<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
          http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.3.xsd">

    <!-- Enable annotation configuration -->
    <context:annotation-config/>

    <!-- Scan sample packages for Spring annotations -->
    <context:component-scan base-package="com.beehyv.nmsreporting"/>
    <context:component-scan base-package="com.beehyv.nmsreporting.dao"/>
    <context:component-scan base-package="com.beehyv.nmsreporting.security"/>
    <context:component-scan base-package="com.beehyv.nmsreporting.business"/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/static/**" location="/static/" cache-period="3600000"/>
    <!-- Spring AOP auto-proxy creation (required to support Shiro annotations) -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>


    <!-- Sample RDBMS data source that would exist in any application.  Sample is just using an in-memory HSQLDB
         instance.  Change to your application's settings for a real app. -->
    <context:property-placeholder location="classpath:app.properties" />
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- Scan packages for JPA annotations -->
        <property name="packagesToScan" value="com.beehyv.nmsreporting.model"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.jdbc.fetch_size">100</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <!-- Because we're using an in-memory database for demo purposes (which is lost every time the app
                     shuts down), we have to ensure that the HSQLDB DDL is run each time the app starts.  The
                     DDL is auto-generated based on the *.hbm.xml mapping definitions below. -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction support beans -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven/>


    <!-- =========================================================
         Shiro Components
         ========================================================= -->

    <!-- Shiro's main business-tier object for web-enabled applications
         (use org.apache.shiro.web.mgt.DefaultWebSecurityManager instead when there is no web environment)-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- Single realm app (realm configured next, below).  If you have multiple realms, use the 'realms'
      property instead. -->
        <property name="realm" ref="nmsRepRealm"/>
    </bean>

    <bean id="nmsRepRealm" class="com.beehyv.nmsreporting.security.NMSRepRealm"/>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!-- Post processor that automatically invokes init() and destroy() methods -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- Define the Shiro Filter here (as a FactoryBean) instead of directly in web.xml -
         web.xml uses the DelegatingFilterProxy to access this bean.  This allows us
         to wire things with more control as well utilize nice Spring things such as
         PropertiesPlaceholderConfigurer and abstract beans or anything else we might need: -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/nms/login"/>
        <property name="successUrl" value="/nms/index"/>
        <property name="unauthorizedUrl" value="/nms/unauthorized"/>
        <!-- The 'filters' property is usually not necessary unless performing an override, which we
             want to do here (make authc point to a PassthruAuthenticationFilter instead of the
             default FormAuthenticationFilter: -->
        <property name="filters">
            <util:map>
                <entry key="authc">
                    <bean class="org.apache.shiro.web.filter.authc.PassThruAuthenticationFilter"/>
                </entry>
            </util:map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /** = anon
            </value>
        </property>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="268435456"/>
    </bean>

    <!-- Spring Mail Sender -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="username" value="${mail.username}" />
        <property name="password" value="${mail.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.host">smtp.bizmail.yahoo.com</prop>
                <prop key="mail.smtp.port">465</prop>
                <prop key="mail.smtp.email">nsp-reports@beehyv.com</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.debug">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.ssl.enable">true</prop>
                <prop key="mail.smtp.ssl.required">true</prop>
                <!--for server using email SSL -->
                <prop key="mail.smtp.ssl.trust">smtp.bizmail.yahoo.com</prop>
            </props>
        </property>
    </bean>
    <!--<bean id="autoReport" class="com.beehyv.nmsreporting.utils.AutoReportGeneration"/>-->
    <!-- Spring Quartz -->
   <!-- <bean id="AutoReportEmailGeneration" class="com.beehyv.nmsreporting.job.AutoReportEmailGeneration &lt;!&ndash;<bean id="cumulativeInactiveReport" class="com.beehyv.nmsreporting.job.cumulativeInactiveReport"/>
    <bean id="circleWiseanonymousReport" class="com.beehyv.nmsreporting.job.circleWiseAnonymousReport"/>
&ndash;&gt;
    &lt;!&ndash; Quartz Job &ndash;&gt;
    <bean name="CumulativeCourseCompletion" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="com.beehyv.nmsreporting.job.AutoReportEmailGeneration  </bean>
   &lt;!&ndash; <bean name="CumulativeInactive" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="com.beehyv.nmsreporting.job.cumulativeInactiveReport" />
    </bean>
    <bean name="CircleWiseAnonymous" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="com.beehyv.nmsreporting.job.circleWiseAnonymousReport" />
    </bean>
&ndash;&gt;
    &lt;!&ndash; Cron Trigger, run every month &ndash;&gt;
    <bean id="cronTriggerCourseCompletion"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="CumulativeCourseCompletion" />
        <property name="cronExpression" value="0/5 * * * * ?" />
        <property name="misfireInstruction"
                  value="#{T(org.quartz.CronTrigger).MISFIRE_INSTRUCTION_DO_NOTHING}"/>
    </bean>
    &lt;!&ndash;<bean id="cronTriggerInactive"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="CumulativeInactive" />
        <property name="cronExpression" value="0 0 1 1 * ?" />
    </bean>
    <bean id="cronTriggerAnonymous"
          class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="CircleWiseAnonymous" />
        <property name="cronExpression" value="0 0 1 1 * ?" />
    </bean>&ndash;&gt;

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="CumulativeCourseCompletion" />
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="cronTriggerCourseCompletion" />
                &lt;!&ndash;<ref bean="cronTriggerInactive" />
                <ref bean="cronTriggerAnonymous" />&ndash;&gt;
            </list>
        </property>
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="autoStartup"><value>true</value></property>
    </bean>-->
    <!--<bean id="dataBaseMigrationService" class="com.beehyv.nmsreporting.job.circleWiseAnonymousReport"/>
    <task:scheduled-tasks>
        <task:scheduled ref="dataBaseMigrationService" method="executeInternal" cron="0/9 * * * * ?"/>
    </task:scheduled-tasks>
    <bean id="autoReportMail" class="com.beehyv.nmsreporting.job.AutoReportEmailGeneration"/>
    <task:scheduled-tasks>
        <task:scheduled ref="autoReportMail" method="executeInternal" cron="30 36 19 31 5 ?"/>
    </task:scheduled-tasks>-->
</beans>