<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign("https://rchivrreports.in/#!/login");
    }
</script>
<div class="container-fluid infoPages4" data-ng-controller="AboutKilkariController">
    <div class="row">
        <div class="col-xs-12">
            <table>
               <tr>
                <th><p  style = "font-size: 30px; margin-top: 10px; padding-left: 15px;font-weight: 300">Kilkari</p></th>
                <th><hr class="infoHR"/></th>
               </tr>
            </table>
        </div>
        <div class="col-xs-12">
            <p><b>Kilkari</b> is an IVR based mobile health service that has been designed to deliver free, weekly and
                time-appropriate audio messages about pregnancy, childbirth and childcare directly to families’
                mobile phone. The service consists of 72 messages starting from the fourth month of pregnancy up until
                the child is one-year-old. Kilkari aims to increase the capacity of pregnant women, new mothers and their
                families to adopt healthy behaviours by increasing their knowledge, shifting attitudes and building self-efficacy.
                The objective is to improve family health – including family planning, reproductive, maternal, neonatal
                and child health, nutrition, sanitation and hygiene - by generating demand for healthy practices. </p>

            <div>
                <ul>
                    <li>Once a pregnant woman or mother of a child under the age of one year registers her pregnancy with
                        the Accredited Social Health Activist (ASHA)/Auxiliary Nurse Midwife (ANM) and her data is entered
                        into the Government’s Maternal and Child Tracking System (MCTS)/Reproductive Child Health (RCH) database,
                        she will automatically begin to receive Kilkari messages.</li>
                    <br/>
                <li>Kilkari subscription is designed in two parts: The first part caters the pregnancy stage where a subscriber
                    gets 24 weekly calls if she gets registered in the first quarter of her pregnancy. The second part of the
                    subscription starts as soon the mother delivers, (data needs to be updated in MCTS/RCH) and this phase
                    continues for the next 48 weeks. The overall Kilkari subscription consists of 72 messages (24 + 48).</li>
                    <br/>
                <li>If a beneficiary has missed the weekly call or want to listen to the weekly message once again the beneficiary
                    can dial the toll free number 1800-3010-1703 to listen to the weekly message again.</li>
                    <br/>
                <li>From January 2016 to November 2018 we have more than 10 million subscribers and over 178 million minutes
                    of heard Kilkari content. Kilkari is approximately calling more than two million subscribers every week.</li>
                    <br/>
                <li>As November 2018 Kilkari is live in 13 states of Assam, Bihar, Chhattisgarh, Delhi, Haryana, Himachal Pradesh,
                    Jharkhand, Madhya Pradesh, Odisha, Rajasthan, Uttarakhand, Uttar Pradesh and West Bengal.</li>
                    <br/>
                <li>Kilkari is currently live in four languages, which are – Hindi, Odia, Assamese & Bengali.</li>
                </ul>
            </div>
        </div>
    </div>
</div>