<div class="container-fluid uMManagement" data-ng-controller="AshaIndividualCertificateController">
    <div data-ui-view></div>
    <h4><b>Mobile Academy Certificate</b></h4>
    <br/>

    <div class='col-6-sm' style="
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;">

        <div>
            <p style="text-align: left;">Enter Mobile Number:</p>
            <input type="number" ng-model="mobile_number" name="mobileNumber" style="width: 200px; padding: 8px;">
            <input
                    style="margin-left: 10px; padding: 8px 12px;"
                    ng-disabled="otpButtonDisabled"
                    type="button"
                    class="btn btn-sm btn-success"
                    name="getOTPButton"
                    data-ng-click="getAshaCertificateOTP()"
                    value="Request OTP">
            <p>{{countdownMessage}}</p>
        </div>

        <div>
            <div vc-recaptcha key="'6LcJgYgUAAAAANaRqYM6UFUaY8H3pPUTK6Tt1qsL'"></div>
        </div>

        <div>
            <p style="text-align: left;">Enter OTP:</p>
            <input
                    type="number"
                    data-ng-model="certificate_otp"
                    name="otp"
                    style="width: 200px; padding: 8px;">
            <input
                    style="margin-left: 10px; padding: 8px 12px;"
                    type="button"
                    class="btn btn-sm btn-primary"
                    name="newUser"
                    data-ng-click="getAshaCertificate()"
                    value="Get Certificate">
        </div>

        <div class="block reports-body" data-ng-if="errorMessage">
            <p><b>{{message}}</b></p>
        </div>

    </div>



    <div class="block reports-body" data-ng-if="fileDownloadedSuccessFully">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <p>The Certificate has been generated: </p>
                </div>
                <div class="col-xs-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Certificate<br>Click on the icon to download</th>
                        </tr>
                        <tr>
                            <td><b>{{certificate.AshaName}}</b></td>
                            <td>
                                <span data-ng-click="clearFile()">
                                    <a href="{{certificate.downloadCertificateUrl}}"><img alt="download" src="images/export2.png"></a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
