<script type="text/javascript">
	if(typeof nmsReportsApp === 'undefined'){
		window.location.assign('https://rchivrreports.in/#!/login');
	}
</script>
<div data-ng-controller="BulkUserController" class="bulkUpload">
	<div class="block">

		<div class="col-xs-6" style="padding-right: 40px;border-right: 1px solid black;">

			<div>
				<ul data-ng-if="currentUser.accessLevel != null && currentUser.accessLevel == 'NATIONAL'" class="ng-scope" style="padding-left: 0px;">
					<h4><b><i><u>General Guideline:</u></i></b></p></h4>
					<p>You, as a <b>National Admin</b>, have access to create NationalUser, StateAdmin, StateUser, DistrictAdmin, DistrictUser and BlockUser.</p>

					<p>In the CSV you want to upload, <b>the header row must be provided</b>, or else, the first row will not be processed as a user. Following is the description of the headers: </p>

					<h4><b>Full Name (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be provided for the user being created.</li>
						<li>Must have only alphabets and spaces.</li>
						<li>Must be at least 3 characters long.</li>
					</div>

					<h4><b>State</b></p></h4>
					<div class="margin-left-40px">
						<li>Should be empty in case of NationalUser</li>
						<li>Must be a valid state in case of StateAdmin, StateUser, DistrictAdmin, DistrictUser and BlockUser.</li>
					</div>

					<h4><b>District</b></p></h4>
					<div class="margin-left-40px">
						<li>Should be empty in case of a NationalUser, StateAdmin and StateUser.</li>
						<li>Must be a valid district in the provided state in case of DistrictAdmin, DistrictUser and BlockUser.</li>
					</div>

					<h4><b>Block</b></p></h4>
					<div class="margin-left-40px">
						<li>Should be empty in case of NationalUser, StateAdmin, StateUser, DistrictAdmin and DistrictUser.</li>
						<li>Must be a valid block in the provided district in case of BlockUser.</li>
					</div>

					<h4><b>Phone number</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a valid 10-digit mobile number.</li>
					</div>

					<h4><b>Email ID</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a valid email ID.</li>
					</div>

					<h4><b>Username</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a unique username.</li>
						<li>Must be alphanumeric without any special characters or spaces.</li>
						<li>Must be at least 5 characters long.</li>
					</div>

					<h4><b>Access Level (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be one of ‘NATIONAL’, ‘STATE’, ‘DISTRICT’ or ‘BLOCK’.</li>
					</div>

					<h4><b>Access Type (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be ‘USER’ if access level is ‘NATIONAL’ or ‘BLOCK’.</li>
						<li>Must be one of ‘USER’ or ‘ADMIN’ if access level is ‘STATE’ or ‘DISTRICT’.</li>
					</div>

				</ul>

				<ul data-ng-if="currentUser.accessLevel != null && currentUser.accessLevel == 'STATE'">
					<h4><b><i><u>General Guideline:</u></i></b></p></h4>
					<p>You, as a <b>State Admin</b>, have access to create StateUser, DistrictAdmin, DistrictUser and BlockUser.</p>

					<p>In the CSV you want to upload, <b>the header row must be provided</b>, or else, the first row will not be processed as a user. Following is the description of the headers: </p>

					<h4><b>Full Name (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be provided for the user being created.</li>
						<li>Must have only alphabets and spaces.</li>
						<li>Must be at least 3 characters long.</li>
					</div>

					<h4><b>State</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be the state in which you belong.</li>
					</div>

					<h4><b>District</b></p></h4>
					<div class="margin-left-40px">
						<li>Should be empty in case of <b>StateUser.</b></li>
						<li>Must be a valid district belonging to your state in case of <b> DistrictAdmin, DistrictUser </b> and <b> BlockUser.</b></li>
					</div>

					<h4><b>Block</b></p></h4>
					<div class="margin-left-40px">
						<li>Should be empty in case of <b>StateUser, DistrictAdmin </b> and <b>DistrictUser.</b></li>
						<li>Must be a valid block in the provided district in case of <b>BlockUser.</b></li>
					</div>

					<h4><b>Phone number</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a valid 10-digit mobile number.</li>
					</div>

					<h4><b>Email ID</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a valid email ID.</li>
					</div>

					<h4><b>Username</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a unique username.</li>
						<li>Must be alphanumeric without any special characters or spaces.</li>
						<li>Must be at least 5 characters long.</li>
					</div>

					<h4><b>Access Level (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be one of ‘STATE’, ‘DISTRICT’ or ‘BLOCK’.</li>
					</div>

					<h4><b>Access Type (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be ‘USER’ if access level is ‘STATE’ or ‘BLOCK’.</li>
						<li>Must be one of  ‘USER’ or ‘ADMIN’ if access level is ‘DISTRICT’.</li>
					</div>

				</ul>

				<ul data-ng-if="currentUser.accessLevel != null && currentUser.accessLevel == 'DISTRICT'">
					<h4><b><i><u>General Guideline:</u></i></b></p></h4>
					<p>You, as a <b>District Admin</b>, have access to create DistrictUser and BlockUser.</p>

					<p>In the CSV you want to upload, <b>the header row must be provided</b>, or else, the first row will not be processed as a user. Following is the description of the headers: </p>

					<h4><b>Full Name (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be provided for the user being created.</li>
						<li>Must have only alphabets and spaces.</li>
						<li>Must be at least 3 characters long.</li>
					</div>

					<h4><b>State</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be the state in which you district belongs.</li>
					</div>

					<h4><b>District</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be the district in which you belong.</li>
					</div>

					<h4><b>Block</b></p></h4>
					<div class="margin-left-40px">
						<li>Should be empty in case of a <b>DistrictUser.</b></li>
						<li>Must be a valid block belonging to your district in case of a <b>BlockUser</b></li>
					</div>

					<h4><b>Phone number</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a valid 10-digit mobile number.</li>
					</div>

					<h4><b>Email ID</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a valid email ID.</li>
					</div>

					<h4><b>Username</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be a unique username.</li>
						<li>Must be alphanumeric without any special characters or spaces.</li>
						<li>Must be at least 5 characters long.</li>
					</div>

					<h4><b>Access Level (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be one of ‘DISTRICT’ or ‘BLOCK’.</li>
					</div>

					<h4><b>Access Type (Required)</b></p></h4>
					<div class="margin-left-40px">
						<li>Must be ‘USER’.</li>
					</div>

				</ul>

			</div>


		</div>

		<div class="col-xs-6" style="padding-left: 0px;">
<!--
		<div class="form-group" style="display: inline-block; width: 300px;">
			<input type="file" class="form-control" name="bulkCsv" value="Select .csv file" data-ng-files="getTheFiles($files)" />
		</div>
		<button type="submit" class="btn btn-primary" name="uploadCsv">Upload File</button>
		<button class="btn btn-primary" name="uploadCsv" data-ng-click="uploadFiles()">Upload File</button>

		<br>
		
 -->

		<div class="bulkUpload-header block">

			<label for="file-upload" class="btn btn-sm btn-default custom-file-upload">
				<i class="fa fa-cloud-upload"></i>
				<span data-ng-if="!myFile">Click here to select CSV file</span>
				<span data-ng-if="myFile">{{myFile.name}}</span>
			</label>
			<input id="file-upload" class="input input-sm" type="file" name="bulkCsv" file-model="myFile" style="display: none;" />
			<br><br>
			<button class="btn btn-sm btn-primary" data-ng-click="uploadFile()">Upload Users</button>
			<br><br>
			<a class="btn btn-sm btn-primary" href="{{downloadTemplateUrl}}">
				<span class="glyphicon glyphicon-disk-save"></span>
				Download Sample Template
			</a>

		</div>

			<hr>
				<div class="bulkUpload-body block" data-ng-if="errorsObj.length > 0 && uploadedFlag">
				<!-- <ul>
                    <li data-ng-repeat="row in listErrors()">{{row}}</li>
                </ul> -->
				<p class="grey">Status of bulk upload users Import(assuming first row to be header)</p>
				<p class="red">Error: Following rows were not imported successfully:</p>
				<table class="table table-bordered">
					<tr>
						<th>Row no.</th>
						<th>Error Message</th>
					</tr>
					<tr data-ng-repeat="row in errorsObj">
						<td>{{row.line}}</td>
						<td>{{row.name}}</td>
					</tr>
				</table>
				</div>

				<div class="bulkUpload-body block" data-ng-if="errorsObj.length == 0 && uploadedFlag">
					<p class="green">Records successfully imported</p>
				</div>
		</div>



	</div>
</div>