<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign('http://192.168.6.31:8080/#!/login');
    }
</script>

<div class="container-fluid uMManagement" data-ng-controller="ReportsController">
    <div data-ui-view></div>
    <h4><b>Mobile Academy Certificate</b></h4>
    <br/>

    <div class=''>
        <p>Enter Mobile Number:</p>
        <input type="number" class="" data-ng-model="mobile_number" name="pdf">
        <input type="button" class="btn btn-sm btn-primary" name="newUser" data-ng-click="getCertificate()" value="Search">
    </div>

    <div class="block reports-body" data-ng-if="errorMessage">
        <p><b>{{message}}</b></p>
    </div>

    <div class="block reports-body" data-ng-if="fileDownloadedSucessFully">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <p>The Certificate has been generated: </p>
                </div>
                <div class="col-xs-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Certificate<br>Click on the icon to download</th>
                        </tr>
                        <tr data-ng-repeat="i in certificateList">
                            <td><b>{{i.AshaName}}</b></td>
                            <td>
                                <span data-ng-click="clearFile()">
                                    <a href="{{i.downloadCertificateUrl}}"><img alt="download" src="images/export2.png"></a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
