<div class="container-fluid contact-us" data-ng-controller="ContactUsController">
    <div data-ui-view></div>


    <div class="container" style="background-color:white">
    <div class="row" style="font-size: 33px;padding-top: 20px;    color: black;">
        <div class="col-md-2">Contact us</div>
        <div class="col-md-10"><hr style="border-bottom: 3px solid #000;"></div>

    </div>

    <div class="row" style="padding: 0 15px 0 0px;">
        <div class="col-md-3" style="margin-top: 50px;  padding: 0 40px 0px 40px;">
            <div style="    text-align: center; margin-bottom: 20px;"><img src="images/contact_location.png"></div>
            <div style="text-align: justify;">
                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra

                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra
                India
            </div>
        </div>
        <div class="col-md-2" style="    margin-top: 50px;     padding: 0 45px 0 45px;;">
            <div style="    text-align: center; margin-bottom: 20px;"><img src="images/contact_phone.png"></div>
            <div>
                080 235252352
                040 523652365
                070 253652352
            </div>
        </div>
        <div class="col-md-3" style="    margin-top: 50px;     padding: 0 50px 0 50px;">
            <div style="    text-align: center; margin-bottom: 20px;"><img src="images/contact_mail.png"></div>
            <div>
                Sampleemail@sampleemail.com
                Sampleemail@sampleemail.com
                Sampleemail@sampleemail.com
            </div>
        </div>
        <div class="col-md-4" style="background-color : #f2f2f2">
            <div class="row" style="background-color: #0071bc;height: 30px;color: white;padding-top: 5px;">
                <div class=" col-md-1">
                    <span><img src="images/feedback.png"></span>
                </div>
                <div class=" col-md-11">
                    <span>Contact Us Form</span>
                </div>
            </div>
            <div>
                <form name="ContactUsForm" class="form-horizontal"  data-ng-submit="contactUs($event)">

                    <div class="form-group row" style="padding-top :25px; padding-bottom: 10px;">
                        <div class=" col-md-4" style="text-align: right;">
                            <label for="name">Name<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                            <input id="name" type="text" name="name" ng-model="email.name" required>
                        </div>
                    </div>
                    <div class="form-group row" style="padding-bottom: 10px;">
                        <div class=" col-md-4" style="text-align: right;">
                            <label for="phoneNo">Phone No.<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                            <input id="phoneNo" type="number" name="phoneNo"  ng-model="email.phoneNo" ng-pattern="/^[7-9][0-9]{9}$/" required>
                        </div>
                    </div>
                    <div class="form-group row" style="padding-bottom: 10px;">
                        <div class=" col-md-4" style="text-align: right;">
                            <label for="email">Email<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                            <input id="email" type="email" name="to" ng-model="email.to" required>
                        </div>
                    </div>
                    <div class="form-group row" style="padding-bottom: 0px;">
                        <div class=" col-md-4" style="text-align: right;">
                            <label>Message<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                            <textarea name="body" ng-model="email.body" style="    height: 95px;"></textarea>
                        </div>
                    </div>

                    <input type="hidden" name="from" ng-model="email.from" value="nsp-reports@beehyv.com">
                    <input type="hidden" name="subject" ng-model="email.subject" value="Subject For Contact">

                    <div style="text-align: center;    padding-top: 5px;    padding-bottom: 20px; padding: 0 0 0 83px; margin: 0 0 15px 0px;">
                        <input type="submit" style="background:#0071bc; color:white;border: none;padding: 4px 10px 4px 10px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>


</div>