<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign("http://localhost:8080/#!/login");
    }
</script>
<div class="container-fluid contact-us" data-ng-controller="ContactUsController">
    <div data-ui-view></div>

    <div class="contactUs-background" style="margin-top:0px;">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-lg-12">
                <table class="contactPageHeading">
                    <tr>
                    <th><p style = "font-size: 30px; margin-top: 10px; padding-left: 15px;font-weight: 300">Contact us</p></th>
                    <th><hr class="infoHR"/></th>
                    </tr>
                </table>
            </div>
        </div>
    <div class="row cs-content contactUs-paddingLeft">
        <div class="col-sm-3 col-xs-3 col-lg-3 contactUs-locationColumn">
            <div class="contactUs-locationColumn-icon"><img alt="contact location" src="images/contact_location.png"></div>
            <div style="text-align: justify;">
                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra
                Lorem ipsum dolor sit nostra
                India
            </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-lg-2 contactUs-phoneColumn">
            <div class="contactUs-phoneColumn-icon"><img alt ="contact phone" src="images/contact_phone.png"></div>
            <div>
                080 235252352
                040 523652365
                070 253652352
            </div>
        </div>
        <div class="col-sm-3 col-xs-3 col-lg-3 contactUs-mailColumn">
            <div class="contactUs-mailColumn-icon"><img alt ="contact mail" src="images/contact_mail.png"></div>
            <div>
                Sampleemail@sampleemail.com
                Sampleemail@sampleemail.com
                Sampleemail@sampleemail.com
            </div>
        </div>
        <div class="col-sm-4 col-xs-4 col-lg-4" style="background-color : #f2f2f2">
            <div class="row cf-icon">
                <div class=" col-sm-1 col-xs-1 col-lg-1">
                    <span><img src="images/feedback.png"></span>
                </div>
                <div class=" col-sm-11 col-xs-11 col-lg-11">
                    <span>Contact Us Form</span>
                </div>
            </div>
            <div>
                <form name="ContactUsForm" class="form-horizontal"  data-ng-submit="contactUs($event)" novalidate>
                    <div class="form-group row cf-top-padding">
                        <div class=" col-sm-4 col-xs-4 col-lg-4 cf-txtAlign">
                            <label for="name">Name<span style="color : red">*</span></label>
                        </div>
                        <div data-ng-class="{'has-error':ContactUsForm.name.$invalid && !ContactUsForm.name.$pristine}">

                            <div class="col-sm-8 col-xs-8 col-lg-8">
                                <input name="name" id="name" type="text" autocomplete="off" class="form-control input input-sm" data-ng-model="email.name" placeholder="Name" style="width: 220px;" required>

                                <div class="errorMessage" data-ng-messages="ContactUsForm.name.$error" role="alert" data-ng-show="!ContactUsForm.name.$pristine">
                                    <div data-ng-message="required">This field cannot be empty</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" style="padding-bottom: 10px;height:30px;">
                        <div class=" col-sm-4 col-xs-4 col-lg-4 cf-txtAlign">
                            <label for="phoneNo">Phone No.<span style="color : red">*</span></label>
                        </div>
                        <div data-ng-class="{'has-error':ContactUsForm.phoneNo.$invalid && !ContactUsForm.phoneNo.$pristine}">

                            <div class="col-sm-8 col-xs-8 col-lg-8 fake-input">
                                <input name="phoneNo" autocomplete="off"  id="phoneNo" type="text" class="form-control input input-sm" data-ng-model="email.phoneNo" placeholder="Contact no." required
                                       style="width: 220px;" data-ng-pattern="/^[0-9]*$/" data-ng-minlength="10" data-ng-maxlength="10">
                                <p class="fake-input"><b>+91</b></p>
                                <div class="errorMessage" data-ng-messages="ContactUsForm.phoneNo.$error" role="alert" data-ng-show="!ContactUsForm.phoneNo.$pristine">
                                    <div data-ng-message="required">This field cannot be empty</div>
                                    <div data-ng-message="pattern">Input contains non-numeric characters</div>
                                    <div data-ng-message="minlength">Number is too short</div>
                                    <div data-ng-message="maxlength">Number is too long</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row" style="padding-bottom: 10px;">
                        <div class=" col-sm-4 col-xs-4 col-lg-4 cf-txtAlign">
                            <label for="email">Email<span style="color : red">*</span></label>
                        </div>
                        <div data-ng-class="{'has-error':ContactUsForm.email.$invalid &amp;&amp; !ContactUsForm.email.$pristine}" style="">
                            <div class="col-sm-8 col-xs-8 col-lg-8">
                                <input id="email" name="email" type="email" autocomplete="off" class="form-control input input-sm ng-touched ng-dirty ng-invalid ng-not-empty ng-invalid-email ng-valid-required ng-invalid-remove ng-valid-email-add ng-invalid-email-remove" data-ng-model="email.email" placeholder="Email"  aria-invalid="true" style="width:220px;" required>
                                <div class="errorMessage ng-active" data-ng-messages="ContactUsForm.email.$error" role="alert" data-ng-show="!ContactUsForm.email.$pristine" aria-live="assertive" aria-hidden="false" style="">
                                    <!-- ngMessage: required --><div data-ng-message="required">This field cannot be empty</div>
                                    <!-- ngMessage: email --><div data-ng-message="email" class="ng-scope" style="">Enter a valid email</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row" style="padding-bottom: 0px;">
                        <div class=" col-sm-4 col-xs-4 col-lg-4 cf-txtAlign">
                            <label>Message<span style="color : red">*</span></label>
                        </div>
                        <div data-ng-class="{'has-error':ContactUsForm.body.$invalid && !ContactUsForm.body.$pristine}">

                            <div class="col-sm-8 col-xs-8 col-lg-8">
                                <textarea name="body" class="form-control input input-sm ng-pristine ng-valid ng-empty ng-touched" data-ng-model="email.body" style="width: 220px; height: 95px; resize: none;" aria-invalid="false">
                                    Your Message Here
                                </textarea>

                                <div class="errorMessage" data-ng-messages="ContactUsForm.body.$error" role="alert" data-ng-show="!ContactUsForm.body.$pristine">
                                    <div data-ng-message="required">This field cannot be empty</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row " data-ng-init="Captcha()">
                        <div class=" col-sm-4 col-xs-4 col-lg-4 cf-txtAlign">
                            <label>Captcha<span style="color : red">*</span></label>
                        </div>

                        <div class="col-sm-8 col-xs-8 col-lg-8">
                        <button type="button" id="refresh" data-ng-click="Captcha()"  style="margin-left:0px"><span class="glyphicon glyphicon-refresh"></span></button>
                        <input type="text" autocomplete="off" data-ng-cut="$event.preventDefault()" data-ng-copy="$event.preventDefault()"  class="form-control input input-sm login-inputs" data-ng-disabled="true" name="mainCaptchaCode" style="background-color:black;font-weight:bold;font-style:italic;height:42px;width:75%;padding-left:53px;color:white;" data-ng-model="email.mainCaptchaCode"/>

                        </div>
                    </div>
                    <div class="form-group"><input type="text" data-ng-paste="$event.preventDefault()" style="text-transform:uppercase" class="form-control input input-sm login-inputs" name="captchaCode" autocomplete="off" data-ng-model="email.captchaCode"/>

                    </div>


                    <input type="hidden" name="from" data-ng-model="email.from" value="nsp-reports@beehyv.com">
                    <input type="hidden" name="subject" data-ng-model="email.subject" value="Subject For Contact">
                    <div class="cf-submit"><button type="submit" id="hide_me" class="btn btn-sm btn-primary">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>