<script type="text/javascript">
	if(typeof nmsReportsApp === 'undefined'){
		window.location.assign('https://rchivrreports.in/#!/login');
	}
</script>
<div data-ng-controller="EditUserController" class="editUser">
	<div class="block">
		<div class="block">
			<h1>Edit User</h1>
		</div>

		<form name="editUserForm" class="form-horizontal" novalidate>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.fullName.$invalid && !editUserForm.fullName.$pristine}">
				<label class="control-label col-xs-2">Full Name</label>
				<div class="col-xs-10">
					<input name="fullName" id="fullName" autocomplete="off" type="text" class="form-control input input-sm" placeholder="Name" data-ng-model="editUser.fullName" required
					data-ng-pattern="/^[A-Za-z ]*$/" data-ng-minlength="3">

					<div class="errorMessage" data-ng-messages="editUserForm.fullName.$error" role="alert" data-ng-show="!editUserForm.fullName.$pristine">
						<div data-ng-message="required">This field cannot be empty</div>
						<div data-ng-message="pattern">Name should only contain alphabetical characters</div>
						<div data-ng-message="minlength">Name is too short</div>
					</div>
				</div>
			</div>
			<div class="form-group" data-ng-class="{'has-error':editUserForm.username.$invalid && !editUserForm.username.$pristine}">
				<label class="control-label col-xs-2">Username</label>
				<div class="col-xs-10">
					<input name="username" type="text" autocomplete="off" class="form-control input input-sm" placeholder="Username" data-ng-model="editUser.username" data-ng-disabled="true">
				</div>
			</div>

			<hr>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.accessType.$invalid && !editUserForm.accessType.$pristine}">
				<label class="control-label col-xs-2">Access Type</label>
				<div class="col-xs-10">
					<select name="accessType" id="accessType" class="form-control input input-sm" data-ng-class="{'loading': roleLoading}" data-ng-model="editUser.roleId" data-ng-options="item.roleId as item.roleDescription for item in accessTypeList | filter: filterAccessType" required>
					</select>

					<div class="errorMessage" data-ng-messages="editUserForm.accessType.$error" role="alert" data-ng-show="!editUserForm.accessType.$pristine">
						<div data-ng-message="required">Select an option</div>
					</div>
				</div>
			</div>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.accessLevel.$invalid && !editUserForm.accessLevel.$pristine}">
				<label class="control-label col-xs-2">Access Level</label>
				<div class="col-xs-10">
					<select name="accessLevel" id="accessLevel" class="form-control input input-sm" data-ng-model="editUser.accessLevel" data-ng-options="item for item in accessLevelList | filter: filterAccessLevel" required>
					</select>

					<div class="errorMessage" data-ng-messages="editUserForm.accessLevel.$error" role="alert" data-ng-show="!editUserForm.accessLevel.$pristine">
						<div data-ng-message="required">Select an option</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="form-group" data-ng-class="{'has-error':editUserForm.state.$invalid && !editUserForm.state.$pristine}">
				<label class="control-label col-xs-2">State</label>
				<div class="col-xs-10">
					<select name="state" id="state" class="form-control input input-sm" data-ng-class="{'loading': stateLoading}" data-ng-model="place.stateId" data-ng-options="item.stateId as item.stateName for item in states | orderBy : 'stateName'" data-ng-disabled="getAccessLevel(1)" data-ng-required="!getAccessLevel(1)">
					</select>
				</div>
			</div>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.district.$invalid && !editUserForm.district.$pristine}">
				<label class="control-label col-xs-2">District</label>
				<div class="col-xs-10">
					<select name="district" id="district" class="form-control input input-sm" data-ng-class="{'loading': districtLoading}" data-ng-model="place.districtId" data-ng-options="item.districtId as item.districtName for item in districts | orderBy : 'districtName'" data-ng-disabled="getAccessLevel(2)" data-ng-required="!getAccessLevel(2)">
					</select>
				</div>
			</div>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.block.$invalid && !editUserForm.block.$pristine}">
				<label class="control-label col-xs-2">Block</label>
				<div class="col-xs-10">
					<select name="block" id="block" class="form-control input input-sm" data-ng-class="{'loading': blockLoading}" data-ng-model="place.blockId" data-ng-options="item.blockId as item.blockName for item in blocks | orderBy : 'blockName'" data-ng-disabled="getAccessLevel(3)" data-ng-required="!getAccessLevel(3)">
					</select>
				</div>
			</div>
			<hr>
			<div class="form-group" data-ng-class="{'has-error':editUserForm.emailId.$invalid && !editUserForm.emailId.$pristine}">
				<label class="control-label col-xs-2">Email Id</label>
				<div class="col-xs-10">
					<input name="emailId" id="emailId" autocomplete="off"  type="email" class="form-control input input-sm" data-ng-model="editUser.emailId" placeholder="Email" required>

					<div class="errorMessage" data-ng-messages="editUserForm.emailId.$error" role="alert" data-ng-show="!editUserForm.emailId.$pristine">
						<div data-ng-message="required">This field cannot be empty</div>
						<div data-ng-message="emailId">Enter a valid emailId</div>
					</div>
				</div>
			</div>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.phoneNumber.$invalid && !editUserForm.phoneNumber.$pristine}">
				<label class="control-label col-xs-2">Contact no.</label>
				<div class="col-xs-10">
					<input name="phoneNumber" id="phoneNumber" autocomplete="off" type="text" class="form-control input input-sm" data-ng-model="editUser.phoneNumber" placeholder="Contact no." required
					data-ng-pattern="/^[0-9]*$/" data-ng-minlength="10" data-ng-maxlength="10">

					<div class="errorMessage" data-ng-messages="editUserForm.phoneNumber.$error" role="alert" data-ng-show="!editUserForm.phoneNumber.$pristine">
						<div data-ng-message="required">This field cannot be empty</div>
						<div data-ng-message="pattern">Input contains non-numeric characters</div>
						<div data-ng-message="minlength">Number is too short</div>
						<div data-ng-message="maxlength">Number is too long</div>
					</div>
				</div>

			</div>
<!-- 
			<div class="form-group" data-ng-class="{'has-error':editUserForm.newPassword.$invalid && !editUserForm.newPassword.$pristine}">
				<label class="control-label col-xs-2">New Password</label>
				<div class="col-xs-10">
					<input name="newPassword" id="newPassword" type="password" class="form-control input input-sm" data-ng-model="editUser.newPassword" placeholder="New Password" required
					tooltip-placement="top" uib-tooltip="Errors: {{editUserForm.newPassword.$error|json}}">
				</div>
			</div>

			<div class="form-group" data-ng-class="{'has-error':editUserForm.confirmPassword.$invalid && !editUserForm.confirmPassword.$pristine && (editUserForm.newPassword != editUserForm.confirmPassword)}">
				<label class="control-label col-xs-2">Confirm Password</label>
				<div class="col-xs-10">
					<input name="confirmPassword" id="confirmPassword" type="password" class="form-control input input-sm" data-ng-model="confirmPassword" placeholder="Confirm Password" required
					ui-validate="'$value==editUser.newPassword'" ui-validate-watch=" 'newPassword'"
					tooltip-placement="top" uib-tooltip="Errors: {{editUserForm.confirmPassword.$error|json}}">
				</div>
			</div>
 -->		<hr>
 			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<button type="button" class="btn btn-sm btn-default" data-ui-sref="userManagement.userTable({pageNum: $stateParams.pageNum})">Cancel</button>
					<button type="button" data-ng-click="editUserSubmit()" class="btn btn-sm btn-primary">Update User</button>
					<button data-ng-click="deactivateUserSubmit()" data-ng-if="!editUser.loggedAtLeastOnce" type="button" class="btn btn-sm btn-primary floatR">Delete User</button>
					<button data-ng-click="resetPasswordSubmit()" type="button" class="btn btn-sm btn-primary floatR">Reset Password</button>
				</div>
			</div>



			<!--<div class="form-group">-->
				<!--<div class="col-xs-offset-2 col-xs-10">-->

				<!--</div>-->
			<!--</div>-->

		</form>
<!-- 
		<div>
			<script type="text/data-ng-template" id="myModalContent.html">
				<div class="modal-header">
					<h3>I'm a modal!</h3>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
				</div>
			</script>

			<button class="btn" data-ng-click="open()">Open me!</button>
		</div>
 -->
	</div>
	
</div>