<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign("http://localhost:8080/#!/login");
    }
</script>
<div class="container-fluid faqTitle" data-ng-controller="faqController">

    <div class="col-md-12 ">
        <table>
            <tr>
            <th><p style = "font-size: 30px; margin-top: 10px; padding-left: 15px;font-weight: 300">FAQ's</p></th>
            <th><hr class="infoHR"/></th>
            </tr>
        </table>
    </div>
    <div class="faqMargins"><h4>Frequently Asked Questions</h4></div>
    <br/><br/>

    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 user-manual">

        <div data-ng-click="active1='faq-general'; func('faq-general')" data-ng-class="{'sideNavbar': active1 =='faq-general'}">General Information
        </div>
        <div data-ng-click="active1='faq-login'; func('faq-login')" data-ng-class="{'sideNavbar': active1 =='faq-login'}">Login and Registration
        </div>
        <div data-ng-click="active1='faq-reports'; func('faq-reports')" data-ng-class="{'sideNavbar': active1 =='faq-reports'}">Reports Information
        </div>
        <div data-ng-click="active1='faq-line-listing'; func('faq-line-listing')" data-ng-class="{'sideNavbar': active1 =='faq-line-listing'}">Line Listing Reports
        </div>
        <div data-ng-click="active1='faq-aggregate'; func('faq-aggregate')" data-ng-class="{'sideNavbar': active1 =='faq-aggregate'}">Aggregate Reports
        </div>
    </div>

    <div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 faq-right">
        <div data-ng-app="myApp">

            <div data-ui-view></div>

        </div>
    </div>
</div>