<div class="container-fluid" ng-controller="faqController" style="padding:0 0 0 0">

<div><h1>FAQ</h1></div>
    <div class="col-md-3 user-manual">

        <div ng-click="'{ active1, active2 = active3 = active4 = active5 = !active1}'" ng-class="{'checking123': !activex}">Website Information
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div ng-click="active2 = !activex" >Kilkari Report
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div><a href="./#!/faq/MobileAcademy">Mobile Academy Report</a>
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div><a href="./#!/faq/UserManagement">User Management</a>
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div><a href="./#!/faq/Profile">Profile</a>
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
    </div>
    <div class="col-md-9" style="background-color: #f2f2f2;">
        <div ng-app="myApp">

            <div ui-view></div>

        </div>
    </div>
</div>