<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign('https://rchivrreports.in/#!/login');
    }
</script>

<div class="container-fluid" data-ng-controller="faqAggregateInfoController">
    <div data-ui-view ></div>

    <h1 style="font-size: 24px"><b>FAQ's Aggregate Reports</b></h1>
    <div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click="active = !active" data-ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" style="outline:0px"><span data-ng-class="{'glyphicon glyphicon-chevron-up': !active, 'glyphicon glyphicon-chevron-down': active}"></span>
                            <div>What are aggregate reports?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="active" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>
                                Aggregate reports present compiled metrics of various data-points for the selected period. They are available at National, State,
                                District, Health-block and Sub-centre level. A user will be able to drill-down till sub-center from their location.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click="active = !active" data-ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" style="outline:0px"><span data-ng-class="{'glyphicon glyphicon-chevron-up': !active, 'glyphicon glyphicon-chevron-down': active}"></span>
                            <div>Can I download aggregate reports?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="active" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>
                                Yes, aggregate reports can be downloaded in PDF, Excel and CSV formats.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
