<script type="text/javascript">
    if (typeof nmsReportsApp === 'undefined') {
        window.location.assign('http://localhost:8080/#!/login');
    }
</script>

<div class="container-fluid" data-ng-controller="faqGeneralInfoController">
    <div data-ui-view></div>

    <h1 style="font-size: 24px"><b>FAQ's General Information</b></h1>
    <div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(1)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=1, 'expandcollapse-heading-expanded': !current!=1}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=1, 'glyphicon glyphicon-chevron-down': current!=1}"></span>
                            <div>How to get the user manual for the reports?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=1" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>Click on "User Manual" in top navigation bar. Select a user role and click on a report
                                category in
                                the left navigation menu. Select a report from the category in the new menu shown.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(2)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=2, 'expandcollapse-heading-expanded': !current!=2}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=2, 'glyphicon glyphicon-chevron-down': current!=2}"></span>
                            <div>MIS interface is supported by which all browsers and versions?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=2" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>MIS interface is compatible with the following browsers and versions:</p>
                            <ul>
                                <li>Google Chrome: version 42 and above</li>
                                <li>Mozilla Firefox: version 23 and above</li>
                                <li>Microsoft Internet Explorer: version 10 and above</li>
                                <li>Microsoft Edge: version 13 and above</li>
                                <li>Safari: version 7 and above</li>
                                <li>Opera: version 29 and above</li>
                                <li>UC Browser: version 7</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(3)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=3, 'expandcollapse-heading-expanded': !current!=3}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=3, 'glyphicon glyphicon-chevron-down': current!=3}"></span>
                            <div>What is the minimum internet speed I need on my computer to be able to access the
                                MIS?
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=3" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>The minimum internet speed required to access the MIS portal is 256 kbps.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(4)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=4, 'expandcollapse-heading-expanded': !current!=4}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=4, 'glyphicon glyphicon-chevron-down': current!=4}"></span>
                            <div>I’m trying to download a report or log in but the page is continuously loading!</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=4" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p><b>While downloading a report:</b> If the report is already generated you will get it
                                instantly.
                                If it is not already present it will take time until it is generated.
                            </p>
                            <p><b>While Login:</b> This might be because of your internet speed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(5)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=5, 'expandcollapse-heading-expanded': !current!=5}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=5, 'glyphicon glyphicon-chevron-down': current!=5}"></span>
                            <div>I’m trying to download a report or log in but it is giving 404 error, time out error or
                                any other error, what to do?
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=5" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p> In case of 404 error the page you are trying to open might not exist,
                                so please check the url and try again. In case of any other error, try reloading the
                                page
                                and if the error persists please reach out to us through the "Contact Us" form.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(6)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=6, 'expandcollapse-heading-expanded': !current!=6}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=6, 'glyphicon glyphicon-chevron-down': current!=6}"></span>
                            <div>I’m not receiving the line listing reports on my email?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=6" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>If you are a registered user who is at district or block level you will get the line
                                listing reports via email on the registered email address.
                                In case of user at state level district wise counts of corresponding reports are sent.
                                Please check your registered email address for any discrepancies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(7)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=7, 'expandcollapse-heading-expanded': !current!=7}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=7, 'glyphicon glyphicon-chevron-down': current!=7}"></span>
                            <div> How can I change my email address on which the reports are being emailed?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=7" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p> You can update it from the "My profile" page or by contacting the admin who registered
                                you to the application.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
