<script type="text/javascript">
    if (typeof nmsReportsApp === 'undefined') {
        window.location.assign('https://rchivrreports.in/#!/login');
    }
</script>

<div class="container-fluid" data-ng-controller="faqLineListingInfoController">
    <div data-ui-view></div>

    <h1 style="font-size: 24px"><b>FAQ's Line Listing Reports</b></h1>
    <div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(10)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=10, 'expandcollapse-heading-expanded': !current!=10}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=10, 'glyphicon glyphicon-chevron-down': current!=10}"></span>
                            <div>What are line-listing reports?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=10" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>
                                Line-listing reports are set of reports which report those beneficiaries and Ashas on
                                whom
                                specific action needs to be taken. For example, in case a pregnant mother is not
                                listening
                                to Kilkari messages continuously, she needs to be educated on the importance of the
                                service and
                                encouraged to listen the full content.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(11)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=11, 'expandcollapse-heading-expanded': !current!=11}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=11, 'glyphicon glyphicon-chevron-down': current!=11}"></span>
                            <div>What is the follow-up activity that needs to be performed on the line-listing
                                reports?
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=11" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>Each line-listing report is emailed to your email ID once it is generated along with the
                                instructions that need to be followed for the report. Please check your email on the
                                next steps that need to be followed.
                                For any further clarifications, share your queries through the contact us form.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
