<script type="text/javascript">
    if (typeof nmsReportsApp === 'undefined') {
        window.location.assign('http://localhost:8080/#!/login');
    }
</script>

<div class="container-fluid" data-ng-controller="faqLoginInfoController">
    <div data-ui-view></div>

    <h1 style="font-size: 24px"><b>FAQ's Login and Registration</b></h1>
    <div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(12)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=12, 'expandcollapse-heading-expanded': !current!=12}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=12, 'glyphicon glyphicon-chevron-down': current!=12}"></span>
                            <div>How do I register to the MIS?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=12" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>Please contact your regional administrator/head/NHM. They will create a user account for
                                you.
                                The following are the access levels supported in the system: </p>

                            <ul>
                                <li><b>National level:</b> Can access reports for all the states where the services are
                                    launched.
                                </li>
                                <li><b>State level:</b> Can access reports for all regions within the state.</li>
                                <li><b>District level:</b> Can access reports for the district and regions within the
                                    district.
                                </li>
                                <li><b>Block level:</b> Can access reports for the corresponding health block.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(13)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=13, 'expandcollapse-heading-expanded': !current!=13}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=13, 'glyphicon glyphicon-chevron-down': current!=13}"></span>
                            <div>Who creates the administrators and users of the MIS?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=13" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>The admins are at National, State & district level as follows:</p>
                            <ul>
                                <li><b>National Admin:</b> The national level administrator can create national level
                                    users and state level administrators
                                </li>
                                <li><b>State level Admin:</b> A state level administrator can create state level users
                                    and district level administrators
                                </li>
                                <li><b>District level Admin:</b> A district level administrator can create district
                                    level users and block level users. There are no administrators below the district
                                    level
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(14)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=14, 'expandcollapse-heading-expanded': !current!=14}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=14, 'glyphicon glyphicon-chevron-down': current!=14}"></span>
                            <div>Who is an administrator?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=14" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>Administrators are users who can administer and track other users. They can administer
                                users only within their location.
                                They can do so through user management tab, which shows up once they login. They can
                                create users, reset their password and disable access to users.
                                There will be only one administrator for each state and district.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(15)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=15, 'expandcollapse-heading-expanded': !current!=15}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=15, 'glyphicon glyphicon-chevron-down': current!=15}"></span>
                            <div>How do I login for the first time?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=15" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>The regional administrator/head/NHM will provide you with your user ID. Your phone number
                                is the default password.
                                After first login, you will be provided with an option to reset the password.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(16)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=16, 'expandcollapse-heading-expanded': !current!=16}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=16, 'glyphicon glyphicon-chevron-down': current!=16}"></span>
                            <div>What do I do in case I forgot my password?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=16" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>There is a forgot password feature on the homepage that you can use to reset password.
                                If you are not sure of your phone number, please reach out to your administrator.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(17)
                             data-ng-class="{'expandcollapse-heading-collapsed': current!=17, 'expandcollapse-heading-expanded': !current!=17}"
                             style="outline:0px"><span
                                data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=17, 'glyphicon glyphicon-chevron-down': current!=17}"></span>
                            <div>What do I do in case I forgot my User ID?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=17" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>Please reach out to your administrator who has provided you the access.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
