<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign('https://rchivrreports.in/#!/login');
    }
</script>

<div class="container-fluid" data-ng-controller="faqReportsInfoController">
    <div data-ui-view ></div>

    <h1 style="font-size: 24px"><b>FAQ's Reports Information</b></h1>
    <div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(18) data-ng-class="{'expandcollapse-heading-collapsed': current!=18, 'expandcollapse-heading-expanded': !current!=18}"
                             style="outline:0px"><span data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=18, 'glyphicon glyphicon-chevron-down': current!=18}"></span>
                            <div>Why am I not able to select other locations?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=18" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>The MIS system has role-based access implemented in it. It will restrict your access to the location to which you are linked.
                                If you think your access level is not accurate, please reach out to your administrator.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(19) data-ng-class="{'expandcollapse-heading-collapsed': current!=19, 'expandcollapse-heading-expanded': !current!=19}"
                             style="outline:0px"><span data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=19, 'glyphicon glyphicon-chevron-down': current!=19}"></span>
                            <div>Why am I not able to select a specific period for report generation?</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=19" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div class="table-faq">
                            <table>
                                <tr>
                                    <th>State</th>
                                    <th>Kilkari Start Date</th>
                                    <th>Mobile Academy Start Date</th>
                                </tr>
                                <tr>
                                    <td>JHARKHAND</td>
                                    <td>Dec 1, 2016</td>
                                    <td>Nov, 30, 2015</td>
                                </tr>
                                <tr>
                                    <td>DELHI</td>
                                    <td>Apr 11, 2017</td>
                                    <td>Aug 24, 2017</td>
                                </tr>
                                <tr>
                                    <td>ODISHA</td>
                                    <td>Dec 1, 2016</td>
                                    <td>July 20, 2017</td>
                                </tr>
                                <tr>
                                    <td>UTTAR PRADESH</td>
                                    <td>Dec 1, 2016</td>
                                    <td>Apr 26, 2017</td>
                                </tr>
                                <tr>
                                    <td>MADHYA PRADESH</td>
                                    <td>Dec 1, 2016</td>
                                    <td>Dec 1, 2015</td>
                                </tr>
                                <tr>
                                    <td>RAJASTHAN</td>
                                    <td>Dec 1, 2016</td>
                                    <td>Dec 1, 2015</td>
                                </tr>
                                <tr>
                                    <td>UTTARAKHAND</td>
                                    <td>Dec 1, 2016</td>
                                    <td>Dec 1, 2015</td>
                                </tr>
                                <tr>
                                    <td>BIHAR</td>
                                    <td>Mar 4, 2017</td>
                                    <td>Dec 13, 2016</td>
                                </tr>
                                <tr>
                                    <td>HARYANA</td>
                                    <td>Mar 4, 2017</td>
                                    <td>Aug 11, 2017</td>
                                </tr>
                                <tr>
                                    <td>HIMACHAL PRADESH</td>
                                    <td>Mar 4, 2017</td>
                                    <td>Apr 6, 2017</td>
                                </tr>
                                <tr>
                                    <td>CHHATTISGARH</td>
                                    <td>Apr 6, 2017</td>
                                    <td>Apr 6, 2017</td>
                                </tr>
                                <tr>
                                    <td>ASSAM</td>
                                    <td>July 13, 2017</td>
                                    <td>Oct 3, 2017</td>
                                </tr>
                                <tr>
                                    <td>WEST BENGAL</td>
                                    <td>Feb 27, 2018</td>
                                    <td>Jan 25, 2018</td>
                                </tr>
                            </table>
                            <br/>
                            <p>For any further queries, please reach out to us providing relevant details, through the Contact Us form.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div data-ng-click=fun(20) data-ng-class="{'expandcollapse-heading-collapsed': current!=20, 'expandcollapse-heading-expanded': !current!=20}"
                             style="outline:0px"><span data-ng-class="{'glyphicon glyphicon-chevron-up': !current!=20, 'glyphicon glyphicon-chevron-down': current!=20}"></span>
                            <div>I am not able to access a report!</div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="current!=20" class="panel-collapse slideDown">
                    <div class="panel-body">
                        <div>
                            <p>Please follow the steps in the User Manual for your role, to access the reports.
                                If you are still facing issues, please reach out to us through the Contact Us form. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
