<div class="container-fluid " data-ng-controller="FeedbackResponseController">
    <div data-ui-view></div>

    <div class="container">
        <div class="feedbackResponse-Box">
            <h2>feedback submitted successfully</h2>
            <p>Thank you very much for the Feedback you sent for the website of Ministry of Health and Family Welfare.
                We really appreciate the time that you took to let us know about your opinion.</p>
            <div class="feedbackResponse-Link" data-ng-click="goBackToFeedbackForm()" style="color: blue">
                <span>Go back to the form</span>
            </div>
        </div>

    </div>

</div>