<div class="container-fluid feedback-form" data-ng-controller="FeedbackFormController">
    <div data-ui-view></div>

    <div class="row margin-top-40 margin-bottom-40">
        <div class="col-md-4"></div>
        <div class=" ff-background col-md-4">
            <div class="row ff-icon">
                <div class=" col-md-1"><span><img src="images/feedback.png"></span></div>
                <div class=" col-md-11"><span>Feedback Form</span></div>
            </div>
            <div>
                <form name="FeedbackForm" class="form-horizontal" data-ng-submit="feedback($event)" novalidate>
                    <div class="form-group row ff-padding-top">
                        <div class=" col-md-1"></div>
                        <div class=" col-md-3 ff-input-textalign">
                        <label for="name">Name<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                        <input class="ff-inputBox-width" id="name" type="text" name="name" data-ng-model="email.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col-md-1"></div>
                        <div class=" col-md-3 ff-input-textalign">
                        <label for="subject">Subject<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                        <input class="ff-inputBox-width" id="subject" type="text" name="subject" data-ng-model="email.subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col-md-1"></div>
                        <div class=" col-md-3 ff-input-textalign">
                        <label for="email">Email<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                        <input class="ff-inputBox-width" id="email" type="text" name="to"data-ng-model="email.to">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col-md-1"></div>
                        <div class=" col-md-3 ff-input-textalign">
                        <label>Feedback<span style="color : red">*</span></label>
                        </div>
                        <div class=" col-md-8">
                            <textarea name="body"  class="FF-txtbox" data-ng-model="email.body"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="from" data-ng-model="email.from" value="nsp-reports@beehyv.com">
                    <div vc-recaptcha key="'6LfKH08UAAAAAKmEugRBtMKYaagj-CiluRt9h1tK'"data-ng-model="captchaResponse" class="recaptcha ff-captcha"></div>
                    <div class="form-group ff-submit"><button type="submit" class="btn btn-sm btn-primary">Submit</button></div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

