<div class="block login" data-ng-controller="ForgotPasswordController" >

    <div class='login-header'>
        <!-- <img src="images/NHM_Logo.png"> -->
    </div>


<div class="container-fluid login-body">
    <div class="form-horizontal col-xs-offset-4 col-xs-4">
        <form  name="forgotPasswordForm">

            <div class="form-group" data-ng-class="{'has-error':forgotPasswordForm.username.$invalid && !forgotPasswordForm.username.$pristine}">

                    <input name="username" id="username" type="text" class="form-control input input-sm" placeholder="Username" data-ng-model="forgotPassword.username" required
                           data-ng-pattern="/^[A-Za-z0-9]*$/" data-ng-minlength="5">

                    <div class="errorMessage" data-ng-messages="forgotPasswordForm.username.$error" role="alert" data-ng-show="!forgotPasswordForm.username.$pristine">
                        <div data-ng-message="required">This field cannot be empty</div>
                        <div data-ng-message="pattern">Username should not contain special characters or spaces</div>
                        <div data-ng-message="minlength">Username is too short</div>
                    </div>

            </div>
            <div class="form-group" data-ng-class="{'has-error':forgotPasswordForm.phoneNumber.$invalid && !forgotPasswordForm.phoneNumber.$pristine}">

                    <input name="phoneNumber" id="phoneNumber" type="text" class="form-control input input-sm" data-ng-model="forgotPassword.phoneNumber" placeholder="Contact no." required
                           data-ng-pattern="/^[0-9]*$/" data-ng-minlength="10" data-ng-maxlength="10">

                    <div class="errorMessage" data-ng-messages="forgotPasswordForm.phoneNumber.$error" role="alert" data-ng-show="!forgotPasswordForm.phoneNumber.$pristine">
                        <div data-ng-message="required">This field cannot be empty</div>
                        <div data-ng-message="pattern">Input contains non-numeric characters</div>
                        <div data-ng-message="minlength">Number is too short</div>
                        <div data-ng-message="maxlength">Number is too long</div>
                    </div>

            </div>
            <div class="form-group" data-ng-class="{'has-error':forgotPasswordForm.newPassword.$invalid && !forgotPasswordForm.newPassword.$pristine}">

                    <input name="newPassword" id="newPassword" type="password" class="form-control input input-sm" data-ng-model="forgotPassword.newPassword" placeholder="New Password" data-ng-minlength="6" required>

                    <div class="errorMessage" data-ng-messages="forgotPasswordForm.newPassword.$error" role="alert" data-ng-show="!forgotPasswordForm.newPassword.$pristine">
                        <div data-ng-message="required">This field cannot be empty</div>
                        <div data-ng-message="minlength">Password has to be atleast 6 characters long</div>
                    </div>

            </div>
            <div class="form-group" data-ng-class="{'has-error':forgotPasswordForm.confirmPassword.$invalid && !forgotPasswordForm.confirmPassword.$pristine && (forgotPasswordForm.newPassword != forgotPasswordForm.confirmPassword)}">

                    <input name="confirmPassword" id="confirmPassword" type="password" class="form-control input input-sm" data-ng-model="forgotPassword.confirmPassword" placeholder="Confirm Password" required
                           data-ui-validate="'$value==forgotPassword.newPassword'" data-ui-validate-watch=" 'forgotPassword.confirmPassword'">

                    <div class="errorMessage" data-ng-messages="forgotPasswordForm.confirmPassword.$error" role="alert" data-ng-show="!forgotPasswordForm.confirmPassword.$pristine">
                        <div data-ng-message="required">This field cannot be empty</div>
                        <div data-ng-message="validator">Password does not match</div>
                    </div>

            </div>


            <div class="form-group">
                <button data-ng-click="forgotPasswordSubmit()"  id="btn-login" class="btn btn-sm btn-primary">submit</button>
                <button id ="back-to-login" type="button" data-ui-sref = "login" class="btn btn-sm btn-default">Back To Login</button>
            </div>

        </form>
    </div>
</div>
</div>