<div class="container-fluid" ng-controller="kilkariController">
<div ui-view></div>
    <h2>Kilkari Report</h2>
<div>
    <p><a>Aggrgate Beneficiary Report</a></p>
    <p><a>Beneficiary listen to 25%</a></p>
    <p><a>beneficiaries who deactivated themselves</a></p>
    <p><a>Beneficiary listenership report</a></p>
    <p><a>cumulative summary report</a></p>
    <p><a>Deactivation for not answering</a></p>
    <p><a>Monthly Thematic Report</a>
    <p><a>Repeat Listenership report</a></p>
    <p><a>Kilkari subscriber report</a></p>
    <p><a>Kilkari message listenership report</a></p>
    <p><a>Kilkari beneficiary completion report</a></p>
    <p><a>Kilkari Listener matrix report</a></p>
</div>
</div>
