<script type="text/javascript">
	if(typeof nmsReportsApp === 'undefined'){
        window.location.assign('http://192.168.200.113:8080/#!/login');
	}
</script>
<div data-ng-app="nmsReports" class="block login"  data-ng-controller="LoginController">
	<!--
	<div class='login-header'>
	&lt;!&ndash; <img src="images/NHM_Logo.png"> &ndash;&gt;
	</div>-->

	<div  class="container-fluid ui-content">

		<div class="col-md-8 col-sm-8 col-xs-8 image-content " >
			<div class="row ">
			<div  class="col-lg-12 login-tb"><img alt="welcome" class="icons" src="images/welcome.png">Welcome to Mobile Academy & Kilkari MIS Reporting Portal</div>
			</div>
            <!--<div class="row">-->
                <!--<div  class="col-lg-12 transparent-text">Training programmes in 2017</div>-->
            <!--</div>-->
			<div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-ng-repeat="img in images" class="{active : (img === 0)}" data-slide-to="{{img}}"></li>
				</ol>
				<div class="carousel-inner">
					<div data-ng-class="{item: true, active : (img === 0)}" data-ng-repeat="img in images"> <img  class="carousel-image" src="/images/carousal0.png" alt="Slide numder {{img}}">
						<div class="container">
							<div class="carousel-caption"> </div>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
				<!--<div class="row">-->
						<!--<div class="rtext">Welcome to MIS Portal.</div>-->
				<!--</div>-->
			</div>
		</div>
		<div class="form-horizontal col-md-3 col-sm-3 col-xs-3 login-form">
			<div class="row">
			<div id="login" class="col-lg-12 login-tb"><img alt="login" class="icons" src="images/login.png">Login</div>
			</div><!--	<h1>Login</h1>-->
			<div class="row">


				<!--<form name="open-form" id="open-form">-->

					<!--Username: <input type="text" name="usernam" aria-invalid="false" id="username" autocomplete="off"/>-->

					<!--Password: <input type="password" name="passwor" id="password" autocomplete="off"/>-->

					<!--<input type="button" id="submitButton" onclick="login($event)" value="Non pwd Saving form" />-->

				<!--</form>-->


			<form  id="loginForm" name="loginForm" data-ng-submit="login($event)" autocomplete="off">
				<!-- <form> -->
				<div class="form-group">
					<p class="error">{{errorMessage}}</p>
				</div>
				<!--<div class="hidden">-->
					<!--<input type="text" data-ng-model="user.username"/>-->
				<!--</div>-->
				<!--<div class="hidden">-->
					<!--<input type="password" data-ng-model="user.password"/>-->
				<!--</div>-->
				<div class="form-group" >
					<span class="login-texts" >Login Id</span>
					<input type="text" class="form-control input input-sm login-inputs" data-ng-model="user.username" name="username" placeholder="Username">

				</div>
<!--	changes for disbaling autocomplete for login-->
				<div class="form-group" >
					<span class="login-texts">Password</span>
<!--					<input name="password0" type="password"  value="Dummy" style="display: none" />-->
					<input type="password" class="form-control text-input input input-sm login-inputs" id="divID" data-ng-model="user.password"  name="password" placeholder="Password" value="Dummy">
<!--					<input name="password1" type="password"  value="Dbmnmummy" style="display: none" />-->
						   <!--onfocus="angular.element( document.querySelector( '#divID' )).removeAttr('readonly');"-->
						   <!--onblur="angular.element( document.querySelector( '#divID' )).attr('readonly',true);">-->

				</div>
                <!--<div vc-recaptcha data-key="'6LfKH08UAAAAAKmEugRBtMKYaagj-CiluRt9h1tK'" data-ng-model="captchaResponse" class="recaptcha"></div>-->
				<!--<div class="g-recaptcha" data-sitekey="6LeGqU4UAAAAAEIQzwTLGSCyK4n7XBuF6llOsK3o"></div>-->
				<!--<div class="captcha">-->
					<!--<botdetect-captcha styleName="AncientMosaic"></botdetect-captcha>-->
					<!--<div id="tapa" style="background-color: #ffffff; height: 10px;width: 250px;position: relative;top: -10px;"></div>-->
                    <!--<p >Please enter the captcha code</p>-->
					<!--<input type="text" id="captchaCode"  class ="captchaCode login-inputs" name="captchaCode" data-ng-model="user.captchaCode" correct-captcha>-->
				<!--<div class="form-group d-flex flex-row justify-content-between" data-ng-init="Captcha()">-->
					<!--<span class="login-texts">Captcha</span>-->
					<!--<button type="button" id="refresh" data-ng-click="Captcha()" class="m-2"><span class="glyphicon glyphicon-refresh"></span></button>-->
					<!--<input type="text" data-ng-cut="$event.preventDefault()"  data-ng-copy="$event.preventDefault()"  class="form-control input input-sm login-inputs" data-ng-disabled="true" autocomplete="off"  name="mainCaptchaCode" style="background-color:black;font-weight:bold;font-style:italic;height:40px;width:42%;padding-left:40px;color:white;" data-ng-model="user.mainCaptchaCode"/>-->
				<!--</div>-->
				<!--<div class="form-group"><input type="text" data-ng-paste="$event.preventDefault()" class="form-control input input-sm login-inputs" name="captchaCode" style="text-transform:uppercase" autocomplete="off" data-ng-model="user.captchaCode" />-->
				<!--</div>-->

				<!--<div class="form-group">-->
					<!--<a data-ui-sref="forgotPassword">Forgot Password?</a>-->
				<!--</div>-->

				<input type="hidden" name="fromUrl" data-ng-model="user.fromUrl" value={{preUrl}}>

					<div style="margin-bottom: 15px;padding-left: 6px;" vc-recaptcha key="'6LcJgYgUAAAAANaRqYM6UFUaY8H3pPUTK6Tt1qsL'"></div>

                <div class="row">

				<div class=" login-submit col-lg-12 ">
					<button type="submit"  class="btn btn-sm btn-primary login-button">Login To Account</button>
				</div>

                </div>
                <div class="row">
				<div class="col-lg-12  forgotPassword" >
					<a data-ui-sref="forgotPassword" class="forgotPasswordLink" >Forgot Password?</a>
				</div>
                </div>
				<!--<div tabindex="3" theme="clean" vc-recaptcha-->
					 <!--key="'6LePCiYTDDDDDKyEwj6RIrqGkDJHJHJtg_G'"></div>-->
				<!--<div class="g-recaptcha" data-sitekey="6LcJgYgUAAAAANaRqYM6UFUaY8H3pPUTK6Tt1qsL"></div>-->
			</form>
				<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
				<!--<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"-->
						<!--async defer>-->
				<!--</script>-->
			</div>

			</div>

		</div>
	</div>


