<div ng-controller="ProfileController" class="profile">
	<div class="block">
		<div class="block">
			<h1>Profile</h1>
		</div>

		<div class="container">
			<label class="control-label col-xs-2">Full Name</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.name}}</label>
		</div>

		<div class="container">
			<label class="control-label col-xs-2">Username</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.username}}</label>
		</div>

		<hr>

		<div class="container">
			<label class="control-label col-xs-2">Access Type</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.accessType}}</label>
		</div>

		<div class="container">
			<label class="control-label col-xs-2">Access Level</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.accessLevel}}</label>
		</div>

		<hr>

		<div class="container">
			<label class="control-label col-xs-2">State</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.state}}</label>
		</div>

		<div class="container">
			<label class="control-label col-xs-2">District</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.district}}</label>
		</div>

		<div class="container">
			<label class="control-label col-xs-2">Block</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.block}}</label>
		</div>

		<hr>

		<div class="container">
			<label class="control-label col-xs-2">Contact no.</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.phoneNumber}}</label>
		</div>

		<div class="container">
			<label class="control-label col-xs-2">Email</label>
			<label class="control-label col-xs-1"> : </label>
			<label class="control-label col-xs-9">{{user.email}}</label>
		</div>

		<hr>
<!-- 
		<form name="changePasswordForm" class="form-horizontal" novalidate>

			<div class="form-group" ng-class="{'has-error':createUserForm.newPassword.$invalid && !createUserForm.newPassword.$pristine}">
				<label class="control-label col-xs-2">New Password</label>
				<div class="col-xs-10">
					<input name="newPassword" id="newPassword" type="password" class="form-control input input-sm" ng-model="newPassword.newPassword" placeholder="New Password" required
					tooltip-placement="top" uib-tooltip="Errors: {{createUserForm.newPassword.$error|json}}">
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error':createUserForm.confirmPassword.$invalid && !createUserForm.confirmPassword.$pristine && (createUserForm.newPassword != createUserForm.confirmPassword)}">
				<label class="control-label col-xs-2">Confirm Password</label>
				<div class="col-xs-10">
					<input name="confirmPassword" id="confirmPassword" type="password" class="form-control input input-sm" ng-model="confirmPassword" placeholder="Confirm Password" required 
					ui-validate="'$value==newPassword.newPassword'" ui-validate-watch=" 'newPassword'"
					tooltip-placement="top" uib-tooltip="Errors: {{createUserForm.confirmPassword.$error|json}}">
				</div>
			</div>

			<div class="container">
				<div class="col-xs-offset-2 col-xs-10">
					<button  type="button" ng-click="changePassword()" class="btn btn-sm btn-primary">Change Password</button>
				</div>
			</div> -->
<!-- 
			<div class="container">
				<div class="col-xs-offset-2 col-xs-9">
					<button class="btn btn-sm btn-default" ui-sref="userManagement.userTable">Cancel</button>
					<button ng-click="editUserSubmit()" class="btn btn-sm btn-primary">Update User</button>
				</div>
			</div>
 -->

		<!-- </form> -->
	</div>
</div>