<div  class="container-fluid" ng-controller="ReportsController">

	<div class="block reports-header">
		<form name="reportsForm" class="form container-fluid block" role="form" novalidate="novalidate">
			<div class="row">
				<div class="col-xs-5 left">
					<div class="form-group col-xs-6">
						<label>Select Reports Category</label><br>
						<div class="btn-group" uib-dropdown dropdown-append-to-body>
							<button id="btn-append-to-body" type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
								{{reportCategory}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem" ng-repeat="item in reports">
									<a ng-click='selectReportCategory(item)'>
										<img class='block' src="{{item.icon}}">
										{{item.name}}
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="form-group col-xs-6">
						<label>Select Reports</label><br>
						<div class="btn-group" uib-dropdown dropdown-append-to-body>
							<button id="btn-append-to-body" type="button" class="btn btn-sm btn-default" ng-disabled='reportCategory=="Select"' uib-dropdown-toggle>
								{{reportName}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem" ng-repeat="item in reportNames">
									<a ng-click='selectReport(item)'>
										<img class='block' src="{{item.icon}}">
										{{item.name}}
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- <div class="form-group col-xs-4">
						<label>Select Date Range</label><br>
						<p class="input-group" ng-disabled="reportName=='Select'">
							<input type="text" class="form-control input input-sm" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" datepicker-mode="'month'" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  ng-disabled='reportName=="Select"' />
							<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-default" ng-click="open1()"  ng-disabled='reportName=="Select"' ><i class="glyphicon glyphicon-calendar" ng-disabled="reportName=='Select'" ></i></button>
							</span>
						</p>
					</div> -->
				</div>

				<div class="col-xs-7 right" ng-if="!isCircleReport()">
					<div class="form-group col-xs-3">
						<label for="name">Select State</label><br>
						<div class="btn-group" uib-dropdown dropdown-append-to-body>
							<button id="btn-append-to-body" type="button" class="btn btn-sm btn-default" ng-disabled='reportName=="Select"' uib-dropdown-toggle>
								<span class="block">{{crop(state.stateName)}}
								<span class="caret"></span></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem"><a ng-click="clearState()">ALL</a>
								<li role="menuitem" ng-repeat="item in states"><a ng-click='selectState(item)'>{{item.stateName}}</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group col-xs-3">
					<!-- <div> -->
						<label for="email">Select District</label><br>
						<div class="btn-group" uib-dropdown dropdown-append-to-body>
							<button id="btn-append-to-body" type="button" class="btn btn-sm btn-default" ng-disabled='state==null' uib-dropdown-toggle>
								<span class="block">{{crop(district.districtName)}}
								<span class="caret"></span></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem"><a ng-click="clearDistrict()">ALL</a>
								<li role="menuitem" ng-repeat="item in districts"><a ng-click='selectDistrict(item)'>{{item.districtName}}</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group col-xs-3">
						<label for="pwd">Select Block</label><br>
						<div class="btn-group" uib-dropdown dropdown-append-to-body>
							<button id="btn-append-to-body" type="button" class="btn btn-sm btn-default" ng-disabled='district==null' uib-dropdown-toggle>
								<span class="block">{{crop(block.blockName)}}
								<span class="caret"></span></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem"><a ng-click="clearBlock()">ALL</a>
								<li role="menuitem" ng-repeat="item in blocks"><a ng-click='selectBlock(item)'>{{item.blockName}}</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group col-xs-3">
						<label>Select Date Range</label><br>
						<p class="input-group" ng-disabled="reportName=='Select'">
							<input type="text" class="form-control input input-sm" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" datepicker-mode="'month'" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  ng-disabled='reportName=="Select"' />
							<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-default" ng-click="open1()"  ng-disabled='reportName=="Select"' ><i class="glyphicon glyphicon-calendar" ng-disabled="reportName=='Select'" ></i></button>
							</span>
						</p>
					</div>
				</div>	

				<div class="col-xs-7 right" ng-if="isCircleReport()">
					<div class="form-group col-xs-4">
						<label for="name">Select Circle</label><br>
						<div class="btn-group" uib-dropdown dropdown-append-to-body>
							<button id="btn-append-to-body" type="button" class="btn btn-sm btn-default" uib-dropdown-toggle>
								<span class="block">{{circle.circleName}}
								<span class="caret"></span></span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li role="menuitem"><a ng-click="clearCircle()">ALL</a>
								<li role="menuitem" ng-repeat="item in circles"><a ng-click='selectCircle(item)'>{{item.circleName}}</a></li>
							</ul>
						</div>
					</div>
					<div class="form-group col-xs-4">
						<label>Select Date Range</label><br>
						<p class="input-group" ng-disabled="reportName=='Select'">
							<input type="text" class="form-control input input-sm" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" datepicker-mode="'month'" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  ng-disabled='reportName=="Select"' />
							<span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-default" ng-click="open1()"  ng-disabled='reportName=="Select"' ><i class="glyphicon glyphicon-calendar" ng-disabled="reportName=='Select'" ></i></button>
							</span>
						</p>
					</div>
				</div>	
				
			</div>
			<div class="form-group col-xs-4">
				<button class="btn btn-sm btn-primary" ng-click="getReport()">Submit</button>
				<button class="btn btn-sm btn-primary" ng-click="reset()">Reset</button>
			</div>
		</form>

	</div>

	<div class="block reports-body loading" ng-if="waiting">
		<img src="images/pageloader.gif">
		<p>Report is being generated...</p>
	</div>

	<div class="block reports-body" ng-if="!waiting && status == 'success'">
		<p>The following report has been generated: </p>
		<p>{{fileName}}</p>
		<span ng-click="clearFile()">
			<a index="downloadReportLink" href="{{downloadReportUrl}}">Click here to download. <img src="images/export3.png"></a>
		</span>

	</div>

	<div class="block reports-body" ng-if="!waiting && status == 'fail'">
		<p>You do not have access to this report.</p>
		<p>{{fileName}}</p>

	</div>
</div>