<div  class="container-fluid" ng-controller="ReportsController">

	<ul class="breadcrumb" ng-if="currentPageTitle">
		<li><a ng-click="userTable()">User Management</a></li>
		<li class="active">{{currentPageTitle}}</li>
	</ul>

	<form class="form container-fluid" role="form">
		<div class="row">
			<div class="col-xs-7">
				<div class="form-group col-xs-4">
					<label for="name">Select Reports Category</label>
					<select class="form-control" id="reportCaterory" ng-model="reportCaterory">
						<option>Mobile Academy Reports</option>
						<option>Kilkari Reports</option>
					</select>
				</div>
				<div class="form-group col-xs-4">
					<label for="email">Select Reports</label>
					<select class="form-control" id="reportName" ng-model="reportName">
						<option>Report 1</option>
						<option>Report 2</option>
						<option>Report 3</option>
						<option>Report 4</option>
					</select>
				</div>
				<div class="form-group col-xs-4">
					<label for="pwd">Select Date Range</label>
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="form-group col-xs-4">
					<label for="name">Select State</label>
					<select class="form-control" id="sel1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<div class="form-group col-xs-4">
					<label for="email">Select District</label>
					<select class="form-control" id="sel1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<div class="form-group col-xs-4">
					<label for="pwd">Select Block</label>
					<select class="form-control" id="sel1">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
			</div>	
				
			<div class="form-group col-xs-4">
				<button type="submit" class="btn btn-default">Submit</button>
				<button class="btn btn-default">Reset</button>
			</div>
		</div>
	</form>
<!-- 
	<div style="background-color: #aaa; height: 34px;">
		<p style="display: inline-block; float: left; left: 100px;">{{radioModel}}</p>
		<div class="btn-group" style="display: inline-block; float: right; right: 100px; ">
			<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'table'">Table</label>
			<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'chart'">Chart</label>
		</div>
	</div> -->

</div>