<div class="container-fluid sitemap" data-ng-controller="SitemapController">
    <div data-ui-view></div>
    <div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <h2 class="sitemap-title">Primary Links</h2>
                <div class="sitemap-content">
                    <ul>
                        <li>About us</li>
                        <li>About Kilkari</li>
                        <li>About Mobile Academy </li>
                        <li>User Manual</li>
                        <li>FAQ</li>
                        <li>Feedback</li>
                        <li>Contact us</li>
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="sitemap-title">Footer</h2>
                <div class="sitemap-content">
                    <ul>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Copyright Policy</li>
                        <li>Hyper Linking Policy</li>
                        <li>Desclaimer</li>
                        <li>Help</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    </div>

</div>