<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign("http://localhost:8080/#!/login");
    }
</script>
<div class="container-fluid sitemap" data-ng-controller="SitemapController">
    <div data-ui-view></div>
    <div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h1>SiteMap</h1>
            <div>
                <div class="sitemap-title">Primary Links</div>
                <div class="sitemap-content">
                    <ul>
                        <li><span data-ng-click="func_aboutus()">About us</span></li>
                        <li><span data-ng-click="func_aboutKilkari()">About Kilkari</span></li>
                        <li><span data-ng-click="func_aboutMA()">About Mobile Academy</span></li>
                        <li><span data-ng-click="func_UM()">User Manual</span></li>
                        <li><span data-ng-click="func_FAQ()">FAQ</span></li>
                        <li><span data-ng-click="func_Feedback()">Feedback Form</span></li>
                        <li><span data-ng-click="func_Contactus()">Contact us</span></li>
                        <li><span data-ng-click="func_downloads()">Downloads</span></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="sitemap-title">Footer</div>
                <div class="sitemap-content">
                    <ul>
                        <li><span data-ng-click="func_tnc()">Terms & Conditions</span></li>
                        <li><span data-ng-click="func_pp()">Privacy Policy</span></li>
                        <li><span data-ng-click="func_cp()">Copyright Policy</span></li>
                        <li><span data-ng-click="func_HLP()">Hyper Linking Policy</span></li>
                        <li><span data-ng-click="func_desclaimer()">Desclaimer</span></li>
                        <li><span data-ng-click="func_help()">Help</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    </div>

</div>