<div class="container-fluid" ng-controller="UserManualController" style="padding:0 0 0 0">

    <div class="block12 container-fluid">
    <p>Welcome! This giude will walk through portal about how to access the website and information. Select the below role to start with</p>
    <p>I am a: <select class="selectpicker" title="Select the Role" style="color:black">
            <option>Select the Role</option>
            <option>Ketchup</option>
            <option>Relish</option>
    </select></p>
    </div>
    <div class="col-md-3 user-manual">


        <div ng-click="active1='wi'; func('wi')" ng-class="{'checking123': active1 =='wi'}">Website Information
            <span class="glyphicon glyphicon-plus plusSign"></span>
        </div>
        <div ng-click="active1='kr';func('kr')" ng-class="{'checking123': active1 =='kr'}">Kilkari Report
            <span class="glyphicon glyphicon-plus plusSign" ></span>
        </div>
        <div ng-click="active1='ma';func('ma')" ng-class="{'checking123': active1 =='ma'}">Mobile Academy Report
            <span class="glyphicon glyphicon-plus plusSign"></span>
        </div>
        <div ng-click="active1='um';func('um')" ng-class="{'checking123': active1 =='um'}">User Management
            <span class="glyphicon glyphicon-plus plusSign"></span>
        </div>
        <div ng-click="active1='pr';func('pr')" ng-class="{'checking123': active1 =='pr'}">Profile
            <span class="glyphicon glyphicon-plus plusSign" ></span>
        </div>
    </div>
    <div class="col-md-9" style="background-color: #f2f2f2;">
        <div ng-app="myApp">

        <div ui-view></div>

    </div>
    </div>
</div>