<div class="container-fluid" data-ng-controller="kilkariController" style="padding-left: 30px">
    <div data-ui-view></div>

    <div data-ng-hide="flag">
        <h2 class="user-manual-header">Kilkari Reports</h2>
        <div class="user-manual-right-text">
            <!--<p><div data-ng-click="func('abr')"><u>Aggrgate Beneficiary Report</u></div></p>-->
            <p><div data-ng-click="func('bl')"><u>Beneficiary listen to 25%</u></div></p>
            <p><div data-ng-click="func('bwd')"><u>beneficiaries who deactivated themselves</u></div></p>
            <!--<p><div data-ng-click="func('blr')"><u>Beneficiary listenership report</u></div></p>
            <p><div data-ng-click="func('kcsr')"><u>Kilkari Cumulative Summary report</u></div></p>-->
            <p><div data-ng-click="func('dfna')"><u>Deactivation for not answering</u></div></p>
            <p><div data-ng-click="func('dfll')"><u>Deactivated for Low Listenership</u></div></p>
    <!--        <p><div data-ng-click="func('mtr')"><u>Monthly Thematic Report</u></div></p>
            <p><div data-ng-click="func('rlr')"><u>Repeat Listenership report</u></div></p>
            <p><div data-ng-click="func('ksr')"><u>Kilkari subscriber report</u></div></p>
            <p><div data-ng-click="func('kmlr')"><u>Kilkari message listenership report</u></div></p>
            <p><div data-ng-click="func('kbcr')"><u>Kilkari beneficiary completion report</u></div></p>
            <p><div data-ng-click="func('klmr')"><u>Kilkari Listener matrix report</u></div></p>-->
            <p><div data-ng-click="func('mrr')"><u>Mother Rejected Records</u></div></p>
            <p><div data-ng-click="func('crr')"><u>Child Rejected Records</u></div></p>
            <!--<p><div data-ng-click="func('ku')"><u>Kilkari Usage</u></div></p>
            <p><div data-ng-click="func('kc')"><u>Kilkari Call</u></div></p>
            <p><div data-ng-click="func('kmm')"><u>Kilkari Message Matrix</u></div></p>
            <p><div data-ng-click="func('krl')"><u>Kilkari Repeat Listener</u></div></p>-->
        </div>
    </div>

    <div data-ng-hide="!flag" style="padding: 20px 0px 0 5px">
        <div><img src="./images/back1.png" data-ng-click="flag=!flag" style="float: left; margin: 15px 10px 0px -12px">
            <div style="display: inline-block"><b>Kilkari Report</b><br>
                <!--<div data-ng-hide="param!=='abr'" style="display: inline-block" >
                    <p style="font-size: 30px"><b>Aggregate Beneficiary Report</b></p><br>
                    <p>1) Under "Reports Category" select "Kilkari Reports", then</p>
                    <p>2) Under "Reports" select "Aggregate Beneficiary Report"</p>
                    <p>3) Then select the State, district, block sub center to continue</p>
                    <img src="./images/Screenshot1.png" style="max-width: 900px">
                </div>-->

                <div data-ng-hide="param!=='bl'" style="display: inline-block">
                    <p style="font-size: 30px"><b>Beneficiary listen to 25%</b></p><br>
                    <p>1) Under "Reports Category" select "Kilkari Reports", then</p><br>
                    <img src="./images/reportCategory.png" style="max-width: 900px"><br><br><br>
                    <p>2) Under "Reports" select "Listen to <25% this month"</p><br>
                    <img src="./images/reportsKilkari.jpg" style="max-width: 900px"><br><br><br>
                    <p>3) Then select the Month </p><br>
                    <img src="./images/reportsMonth.jpg" style="max-width: 900px"><br><br><br>
                    <p>4) Then select respective State, District and Block</p>
                    <img src="./images/reportState.png" style="max-width: 900px"><br><br><br>
                    <p>5) To view the result, press the "Select" button, or to reset it, press "Reset" button</p><br>
                    <img src="./images/reportsDownload.png" style="max-width: 900px"><br>
                    <p>6) Click on the download link to download the report. All the reports will be downloaded as Excel files.</p>
                    <p>7) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>

                </div>
                <div data-ng-hide="param!=='bwd'">
                    <p style="font-size: 30px"><b>beneficiaries who deactivated themselves</b></p><br>
                    <p>1) Under "Reports Category" select "Kilkari Reports", then</p>
                    <img src="./images/reportCategory.png" style="max-width: 900px"><br><br><br>
                    <p>2) Under "Reports" select "Self Deactivation"</p><br>
                    <img src="./images/reportsKilkari.jpg" style="max-width: 900px"><br><br><br>
                    <p>3) Then select the Month </p><br>
                    <img src="./images/reportsMonth.jpg" style="max-width: 900px"><br><br><br>
                    <p>4) Then select respective State, District and Block</p>
                    <img src="./images/reportState.png" style="max-width: 900px"><br><br><br>
                    <p>5) To view the result, press the "Select" button, or to reset it, press "Reset" button</p><br>
                    <img src="./images/reportsDownload.png" style="max-width: 900px"><br>
                    <p>6) Click on the download link to download the report. All the reports will be downloaded as Excel files.</p>
                    <p>7) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                </div>
                <!--<div data-ng-hide="param!=='blr'">
                    <p style="font-size: 30px"><b>Beneficiary listenership report</b></p><br><br>
                    <p>Under Kilkari Report, Select the Aggregate reports</p><br>
                    <p>Then select the State, district, block sub center to continue</p>
                    <img src="./images/Screenshot4.png" style="max-width: 960px">
                </div>-->
                <!--<div  data-ng-hide="param!=='kcsr'" >
                    <p style="font-size: 30px"><b>Kilkari Cumulative Summary report</b></p><br><br>
                    <p>Under Kilkari Report, Select the Aggregate reports</p><br>
                    <p>Then select the State, district, block sub center to continue</p>
                    <img src="./images/Screenshot5.png" style="max-width: 960px">
                </div>-->
                <div data-ng-hide="param!=='dfna'">
                    <p style="font-size: 30px"><b>Deactivation for not answering</b></p>
                    <p>This report lists out all the Kilkari beneficiaries who were deactivated in the selected month, for not answering a call for 6 weeks continuously.</p>
                    <p>Steps to download the reports</p>
                    <p>1)  select "Kilkari Reports" under "Reports Category" </p>
                    <img src="./images/reportCategory.png" style="max-width: 900px"><br><br><br>
                    <p>2) Then select "Deactivated for not answering" under "Reports" </p><br>
                    <img src="./images/reportsKilkari.jpg" style="max-width: 900px"><br><br><br>
                    <p>3) Then select the Month of which the reports are needed</p><br>
                    <img src="./images/reportsMonth.jpg" style="max-width: 900px"><br><br><br>
                    <p>4) Then select respective State, District and Block</p>
                    <img src="./images/reportState.png" style="max-width: 900px"><br><br><br>
                    <p>5) To download the result, press the "Select" button</p><br>
                    <img src="./images/reportsDownload.png" style="max-width: 900px"><br>
                    <p>6) Click on the download link to download the report. All the reports will be downloaded as Excel files.</p>
                    <p>7) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                </div>
                <div data-ng-hide="param!=='dfll'">
                    <p style="font-size: 30px"><b>Deactivation for Low Listenership</b></p>
                    <p>1) Select "Kilkari Reports" under "Reports Category"</p>
                    <img src="./images/reportCategory.png" style="max-width: 900px"><br><br><br>
                    <p>2) Then  select "Deactivated for Low Listenership" under "Reports"</p><br>
                    <img src="./images/reportsKilkari.jpg" style="max-width: 900px"><br><br><br>
                    <p>3) Then select the Month </p><br>
                    <img src="./images/reportsMonth.jpg" style="max-width: 900px"><br><br><br>
                    <p>4) Then select respective State, District and Block</p>
                    <img src="./images/reportState.png" style="max-width: 900px"><br><br><br>
                    <p>5) To download the result, press the "Select" button</p><br>
                    <img src="./images/reportsDownload.png" style="max-width: 900px"><br>
                    <p>6) Click on the download link to download the report. All the reports will be downloaded as Excel files.</p>
                    <p>7) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                </div>
                <!--<div data-ng-hide="param!=='mtr'">
                    <h1>Monthly Thematic Report</h1>
                </div>
                <div  data-ng-hide="param!=='rlr'" >
                    <h1>Repeat Listenership report</h1>
                </div>
                <div data-ng-hide="param!=='ksr'">
                    <h1>Kilkari subscriber report</h1>
                </div>
                <div data-ng-hide="param!=='kmlr'">
                    <h1>Kilkari message listenership report</h1>
                </div>
                <div  data-ng-hide="param!=='kbcr'" >
                    <h1>Kilkari beneficiary completion report</h1>
                </div>
                <div data-ng-hide="param!=='klmr'">
                    <h1>Kilkari Listener matrix report</h1>
                </div>-->
                <div data-ng-hide="param!=='mrr'">
                    <p style="font-size: 30px"><b>Mother Rejected Records</b></p>
                    <p>1) Under "Reports Category" select "Kilkari Reports", then</p>
                    <img src="./images/reportCategory.png" style="max-width: 900px"><br><br><br>
                    <p>2) Under "Reports" select "Mother Rejected Records"</p><br>
                    <img src="./images/reportsKilkari.jpg" style="max-width: 900px"><br><br><br>
                    <p>3) Then select the Month </p><br>
                    <img src="./images/reportsMonth.jpg" style="max-width: 900px"><br><br><br>
                    <p>4) Then select respective State, District and Block</p>
                    <img src="./images/reportState.png" style="max-width: 900px"><br><br><br>
                    <p>5) To view the result, press the "Select" button, or to reset it, press "Reset" button</p><br>
                    <img src="./images/reportsDownload.png" style="max-width: 900px"><br>
                    <p>6) Click on the download link to download the report. All the reports will be downloaded as Excel files.</p>
                    <p>7) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                </div>
                <div  data-ng-hide="param!=='crr'" >
                    <p style="font-size: 30px"><b>Child Rejected Records</b></p>
                    <p>1) Under "Reports Category" select "Kilkari Reports", then</p>
                    <img src="./images/reportCategory.png" style="max-width: 900px"><br><br><br>
                    <p>2) Under "Reports" select "Child Rejected Records"</p><br>
                    <img src="./images/reportsKilkari.jpg" style="max-width: 900px"><br><br><br>
                    <p>3) Then select the Month </p><br>
                    <img src="./images/reportsMonth.jpg" style="max-width: 900px"><br><br><br>
                    <p>4) Then select respective State, District and Block</p>
                    <img src="./images/reportState.png" style="max-width: 900px"><br><br><br>
                    <p>5) To view the result, press the "Select" button, or to reset it, press "Reset" button</p><br>
                    <img src="./images/reportsDownload.png" style="max-width: 900px"><br>
                    <p>6) Click on the download link to download the report. All the reports will be downloaded as Excel files.</p>
                    <p>7) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                </div>
                <!--<div data-ng-hide="param!=='ku'">
                    <h1>Kilkari Usage</h1>
                </div>
                <div data-ng-hide="param!=='kc'">
                    <h1>Kilkari Call</h1>
                </div>
                <div data-ng-hide="param!=='kmm'">
                    <h1>Kilkari Message Matrix</h1>
                </div>
                <div data-ng-hide="param!=='krl'">
                    <h1>Kilkari Repeat Listener</h1>
                </div>-->
            </div>
        </div>

    </div>
</div>

<!--
<div class="container-fluid" data-ng-controller="kilkariController">cd
<div data-ui-view></div>
    <h2>Kilkari Report</h2>
<div>

&lt;!&ndash;
    <div class="wrapper">
        <p data-ng-hide="showme">It will appear here!</p>
        <h2 data-ng-show="showme">This is mah content, yo!</h2>
    </div>&ndash;&gt;
    <div data-ng-if="show"><img alt="header" src="images/header.png"></div>
    <p data-ng-if="show"><a data-ng-click="showAg()">Aggrgate Beneficiary Report</a></p>
    <p data-ng-if="show2"><a data-ng-click="showBn()">Beneficiary listen to 25%</a></p>
    <p data-ng-if="show3"><a data-ng-click="showBd()">beneficiaries who deactivated themselves</a></p>

Mother Rejected Records
Child Rejected Records
Kilkari Usage
Kilkari Call
Kilkari Message Matrix
Kilkari Repeat Listener

</div>
</div>
-->
