<div class="container-fluid uMManagement" data-ng-controller="userManual_ManagementController">
    <div data-ui-view></div>
    <h2>User Management</h2>
    <br/>
    <p>The User Management tab allows Admin-access users to view, create new lower/equal level users, and to edit/delete users created by them</p>
    <p>1)To use the User Management section, follow the steps in the <b>User Manual - Profile Section</b> to login</p>
    <p>Only Admin level users can access User Management by clicking on the <b>'User Management'</b> tab:</p>
    <img src="images/UMclick.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p>2)Click on 'User Management' to display user-list according to your access level:</p>
    <img src="images/UMdisplay.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p><b>Functionalities in User Management page:</b></p>
    <p>3)A textbox is provided to search for through all fields of all the records by entering keywords:</p>
    <img src="images/UMtextbox.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p>4)Pre-determined filters Access-type, Access-level, State, District and Block can be used to filter information:</p>
    <img src="images/UMfilters.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p>5)Each page shows 10 users. Use the buttons on the bottom-right to access other pages of user-information:</p>
    <img src="images/UMpages.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p>6)Admins can only edit users they created by clicking on the 'Edit' button. Every user on the list maynot have this button:</p>
    <img src="images/UMedit.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p>7)'Edit' button and 'Create new User' button will both show the following screen on click:</p>
    <img src="images/UMuserEdit.png" alt="User Management" class="userManualPic"/>
    <br/><br/><br/>
    <p>8)'Create new user' will show empty fields, while 'Edit' will fill fields with previous information</p>
    <p>All fields in the above form are compulsory. Default password for creating a user is the user's contact number.</p>
    <p>This form has three submit options:</p>
    <ul>
        <li>Update user: This option will validate all the values entered and update the same.</li>
        <li>Reset password: Will reset the password of the user to their contact number and update the contact number as well.</li>
        <li>Delete user: Will delete the user.</li>
    </ul>
    <br/><br/>
    <p>9)<b>'Bulk Upload Users'</b> button at the top-right of the User Management page leads to the bulk upload page:</p>
    <img src="images/UMbulkUpload.png" alt="User Management" class="userManualPic"/>
    <p>In this page, the admin can download sample template with all required user details to be uploaded.</p>
    <p>The validation errors will then be displayed after processing the file.</p>
</div>