<div ng-controller="UserTableController">

	<div class="well userMngHeader">
		<h1>User Management</h1>
		<div>
			<input  class="form-control" ng-model="filterText" type="text" name="tableSearch" placeholder="Search">
			
			<button class="btn btn-primary" name="bulkUpload" ng-click="bulkUpload()">Upload Bulk Users</button>
			<button class="btn btn-primary" name="newUser" ng-click="newUser()">Create new User</button>
		</div>
	</div>

	<div class="well">
		<!-- <ul>
			<li ng-repeat="item in data">{{item.name}}</li>
		</ul> -->
		<table class="table table-bordered table-striped">
			<tr>
				<!-- <th ng-repeat="header in headers" ng-if="header != '$$hashKey'">{{header}}</th> -->
				<th >Id</th>
				<th >Name</th>
				<th >Username</th>
				<th >Phone no.</th>
				<th >Email id</th>
				<!-- <th class="th-dropdown">
                            <select
                                    filter-by="accessType"
                                    filter-type="select"
                                    ng-model="access"
                                    ng-change="filter()">
                                <option value="">Access Type</option>
                                <option ng-repeat="option in statusOptions track by option.value"
                                        value="{{option.value}}">{{option.text}}
                                </option>
                            </select>
                        </th> -->
                <th>Access Type</th>
                <th>Access Level</th>
                <th>State</th>
                <th>District</th>
                <th>Block</th>
				<th>Edit</th>
			</tr>
			<!-- <tr ng-repeat="item in data"> -->
			<tr ng-repeat="item in filterData = (getAllUsers() | filter : search )| orderBy : '-item.name'  | limitTo : numPerPage : numPerPage*(currentPageNo-1)">
				<!-- <td class ="{{header}}" ng-repeat="header in headers" ng-if="header != '$$hashKey'">{{item[header]}}</td> -->
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.username}}</td>
				<td>{{item.phoneNumber}}</td>
				<td>{{item.email}}</td>
				<td>{{item.accessType}}</td>
				<td>{{item.accessLevel}}</td>
				<td>{{item.state}}</td>
				<td>{{item.district}}</td>
				<td>{{item.block}}</td>
				<td>{{item.role}}</td>
				<td ng-if="item.createdBy" ng-click="editUser(item)">Edit</td>
			</tr>
		</table>

		<pagination
			total-items=filterData.length
			items-per-page="numPerPage"
			current-page="currentPageNo"
			class="pagination-small">
		</pagination>
	</div>

	

</div>