<div class="container-fluid" data-ng-controller="kilkariController" style="padding-left: 30px">

    <div data-ng-hide="flag">
        <h2 class="user-manual-header">Kilkari Reports</h2>
        <div class="user-manual-right-text">
            <!--<p><div data-ng-click="func('abr')"><u>Aggrgate Beneficiary Report</u></div></p>-->
            <p data-ng-click="func('bl')"><u>Listen to <25% this month</u></p>
            <p data-ng-click="func('bwd')"><u>Self Deactivation</u></p>
            <!--<p><div data-ng-click="func('blr')"><u>Beneficiary listenership report</u></div></p>
            <p><div data-ng-click="func('kcsr')"><u>Kilkari Cumulative Summary report</u></div></p>-->
            <p data-ng-click="func('dfna')"><u>Deactivated for not answering</u></p>
            <p data-ng-click="func('dfll')"><u>Deactivated for Low Listenership</u></p>
            <!--        <p><div data-ng-click="func('mtr')"><u>Monthly Thematic Report</u></div></p>
                    <p><div data-ng-click="func('rlr')"><u>Repeat Listenership report</u></div></p>
                    <p><div data-ng-click="func('ksr')"><u>Kilkari subscriber report</u></div></p>
                    <p><div data-ng-click="func('kmlr')"><u>Kilkari message listenership report</u></div></p>
                    <p><div data-ng-click="func('kbcr')"><u>Kilkari beneficiary completion report</u></div></p>
                    <p><div data-ng-click="func('klmr')"><u>Kilkari Listener matrix report</u></div></p>-->
            <p data-ng-click="func('mrr')"><u>Mother Rejected Records</u></p>
            <p data-ng-click="func('crr')"><u>Child Rejected Records</u></p>
            <!--<p><div data-ng-click="func('ku')"><u>Kilkari Usage</u></div></p>
            <p><div data-ng-click="func('kc')"><u>Kilkari Call</u></div></p>
            <p><div data-ng-click="func('kmm')"><u>Kilkari Message Matrix</u></div></p>
            <p><div data-ng-click="func('krl')"><u>Kilkari Repeat Listener</u></div></p>-->
        </div>
    </div>

    <div data-ng-hide="!flag" class="user-manual-reports">
        <div><img src="./images/back1.png" data-ng-click="flag=!flag" class="user-manual-back">
            <div style="display: inline-block" class="imageModify"><b>Kilkari Report</b><br>

                <div data-ng-hide="selectRole != 1 && selectRole != 5">
                    <div data-ng-hide="param!=='bl'" style="display: inline-block; ">
                        <p style="font-size: 30px"><b>Listen to <25% this month</b></p><br>
                        <p>The report lists out the beneficiaries who have listened to < 25% content on average, in the calls answered, during the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/National/MA/NA_MA_RC.png"><br><br><br>
                        <p>3) Then select "Listen to <25% this month" under "Reports" </p>
                        <img src="./images/National/kilkari/NA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/National/kilkari/NA_KR_L25_Cal.png"><br><br><br>
                        <p>5) Then select an option in the 'State' dropdown for a specific state or to get all states data, select 'All':</p>
                        <img src="./images/National/kilkari/NA_KR_L25_State.png"><br><br><br>
                        <p>6) Next, select an option from the 'District' dropdown in the same manner: (does not work if State is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_L25_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_L25_Block.png"><br><br><br>
                        <p>8) To view the result, click the "Submit" button</p>
                        <img src="./images/National/kilkari/NA_KR_L25_Sub - Copy.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/National/kilkari/NA_KR_L25_DownLoad.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/National/kilkari/NA_KR_L25_Sub.png"><br><br><br>

                    </div>
                    <div data-ng-hide="param!=='bwd'">
                        <p style="font-size: 30px"><b>Self Deactivation</b></p><br>
                        <p>This report lists out all the beneficiaries who have deactivated by themselves in the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/National/MA/NA_MA_RC.png"><br><br><br>
                        <p>3) Then select "Self Deactivation" under "Reports" </p>
                        <img src="./images/National/kilkari/NA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/National/kilkari/NA_KR_SD_Cal.png"><br><br><br>
                        <p>5) Then select an option in the 'State' dropdown for a specific state or to get all states data, select 'All':</p>
                        <img src="./images/National/kilkari/NA_KR_SD_State.png"><br><br><br>
                        <p>6) Next, select an option from the 'District' dropdown in the same manner: (does not work if State is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_SD_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_SD_Block.png"><br><br><br>
                        <p>8) To view the result, click the "Submit" button</p>
                        <img src="./images/National/kilkari/NA_KR_SD_sub - Copy.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/National/kilkari/NA_KR_SD_DownLoad.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/National/kilkari/NA_KR_SD_sub.png"><br><br><br>
                    </div>
                    <div data-ng-hide="param!=='dfna'">
                        <p style="font-size: 30px"><b>Deactivated for not answering</b></p>
                        <p>This report lists out the beneficiaries who were deactivated in the selected month, for not answering a call for 6 weeks continuously.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) select "Kilkari Reports" under "Reports Category" </p>
                        <img src="./images/National/MA/NA_MA_RC.png"><br><br><br>
                        <p>3) Then select "Deactivated for not answering" under "Reports" </p>
                        <img src="./images/National/kilkari/NA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month of which the reports are needed</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_Cal.png"><br><br><br>
                        <p>5) Then select an option in the 'State' dropdown for a specific state or to get all states data, select 'All':</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_State.png"><br><br><br>
                        <p>6) Next, select an option from the 'District' dropdown in the same manner: (does not work if State is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_Block.png"><br><br><br>
                        <p>8) To download the result, click the "Submit" button</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_sub - Copy.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_DownLoad.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/National/kilkari/NA_KR_DNA_sub.png"><br>
                    </div>

                    <div data-ng-hide="param!=='dfll'">
                        <p style="font-size: 30px"><b>Deactivated for Low Listenership</b></p>
                        <p>This report lists out the beneficiaries who have been deactivated due to low listenership (Not answered a single call for last six weeks)</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/National/MA/NA_MA_RC.png"><br><br><br>
                        <p>3) Then  select "Deactivated for Low Listenership" under "Reports"</p>
                        <img src="./images/National/kilkari/NA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/National/kilkari/NA_KR_DLL_Cal.png"><br><br><br>
                        <p>5) Then select an option in the 'State' dropdown for a specific state or to get all states data, select 'All':</p>
                        <img src="./images/National/kilkari/NA_KR_DLL_State.png"><br><br><br>
                        <p>6) Next, select an option from the 'District' dropdown in the same manner: (does not work if State is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_DLL_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_DLL_Block.png"><br><br><br>
                        <p>8) To download the result, click the "Submit" button</p>
                        <img src="./images/National/kilkari/NA_KR_DLL_sub - Copy.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/National/kilkari/NA_KR_DLL_DownLoad.png"><br><br><br>
                        <p>810) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/National/kilkari/NA_KR_DLL_sub.png"><br>
                    </div>
                    <div data-ng-hide="param!=='mrr'">
                        <p style="font-size: 30px"><b>Mother Rejected Records</b></p>
                        <p>This report lists out the Mother beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/National/MA/NA_MA_RC.png"><br><br><br>
                        <p>3) Then select "Mother Rejected Records" under "Reports" </p>
                        <img src="./images/National/kilkari/NA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/National/kilkari/NA_KR_MRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/National/kilkari/NA_KR_MRR_CalDate.png"><br><br><br>
                        <p>6) Then select an option in the 'State' dropdown for a specific state or to get all states data, select 'All':</p>
                        <img src="./images/National/kilkari/NA_KR_MRR_State.png"><br><br><br>
                        <p>7) Next, select an option from the 'District' dropdown in the same manner: (does not work if State is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_MRR_Dist.png"><br><br><br>
                        <p>8) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_MRR_Block.png"><br><br><br>
                        <p>9) To view the result, click the "Submit" button</p>
                        <img src="./images/National/kilkari/NA_KR_MRR_Sub - Copy.png"><br><br><br>
                        <p>10) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/National/kilkari/NA_KR_MRR_download.png"><br><br><br>
                        <p>11) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/National/kilkari/NA_KR_MRR_Sub.png"><br>
                    </div>
                    <div  data-ng-hide="param!=='crr'" >
                        <p style="font-size: 30px"><b>Child Rejected Records</b></p>
                        <p>This report lists out all the Child beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/National/MA/NA_MA_RC.png"><br><br><br>
                        <p>3) Then select "Child Rejected Records" under "Reports" </p>
                        <img src="./images/National/kilkari/NA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/National/kilkari/NA_KR_CRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/National/kilkari/NA_KR_CRR_CalDate.png"><br><br><br>
                        <p>6) Then select an option in the 'State' dropdown for a specific state or to get all states data, select 'All':</p>
                        <img src="./images/National/kilkari/NA_KR_CRR_State.png"><br><br><br>
                        <p>7) Next, select an option from the 'District' dropdown in the same manner: (does not work if State is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_CRR_Dist.png"><br><br><br>
                        <p>8) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/National/kilkari/NA_KR_CRR_Block.png"><br><br><br>
                        <p>9) To view the result, click the "Submit" button</p>
                        <img src="./images/National/kilkari/NA_KR_CRR_sub - Copy.png"><br><br><br>
                        <p>10) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/National/kilkari/NA_KR_CRR_Download.png"><br><br><br>
                        <p>11) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/National/kilkari/NA_KR_CRR_sub.png"><br>
                    </div>
                </div>

                <div data-ng-hide="selectRole != 2 && selectRole != 6">
                    <div data-ng-hide="param!=='bl'" style="display: inline-block; ">
                        <p style="font-size: 30px"><b>Listen to <25% this month</b></p><br>
                        <p>The report lists out the beneficiaries who have listened to < 25% content on average, in the calls answered, during the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/State/KA1/SA_KA_RC.png" style="max-width: 828px;"><br><br><br>
                        <p>3) Then select "Listen to <25% this month" under "Reports" </p>
                        <img src="./images/State/KA1/SA_KA_Rep.png" style="max-width: 828px;"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/State/KA3/SA_KA_LT25_Cal.png" style="max-width: 828px;"><br><br><br>
                        <p>5) For State users, their 'State' option is already selected.</p>
                        <p>6) Select an option in the 'District' dropdown for a specific state or to get all districts data, select 'All':</p>
                        <img src="./images/State/KA3/SA_KA_LT25_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/State/KA3/SA_KA_LT25_Block.png"><br><br><br>
                        <p>8) To view the result, click the "Submit" button</p><br><br>
                        <img src="./images/State/KA3/SA_KA_LT25_Submit.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/State/KA3/SA_KA_LT25_Download.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/State/KA3/SA_KA_LT25_Reset.png"><br>
                    </div>
                    <div data-ng-hide="param!=='bwd'">
                        <p style="font-size: 30px"><b>Self Deactivation</b></p><br>
                        <p>This report lists out all the beneficiaries who have deactivated by themselves in the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/State/KA1/SA_KA_RC.png"><br><br><br>
                        <p>3) Then select "Self Deactivation" under "Reports" </p>
                        <img src="./images/State/KA1/SA_KA_Rep.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/State/KA3/SA_KA_SD_Cal.png"><br><br><br>
                        <p>5) For State users, their 'State' option is already selected.</p>
                        <p>6) Select an option in the 'District' dropdown for a specific state or to get all districts data, select 'All':</p>
                        <img src="./images/State/KA3/SA_KA_SD_Dist.png"><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/State/KA3/SA_KA_SD_Block.png"><br><br><br>
                        <p>8) To view the result, click the "Submit" button</p>
                        <img src="./images/State/KA3/SA_KA_SD_Submit.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/State/KA3/SA_KA_SD_Download.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/State/KA3/SA_KA_SD_Reset.png"><br><br><br>
                    </div>
                    <div data-ng-hide="param!=='dfna'">
                        <p style="font-size: 30px"><b>Deactivated for not answering</b></p>
                        <p>This report lists out the beneficiaries who were deactivated in the selected month, for not answering a call for 6 weeks continuously.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) select "Kilkari Reports" under "Reports Category" </p>
                        <img src="./images/State/KA1/SA_KA_RC.png"><br><br><br>
                        <p>3) Then select "Deactivated for not answering" under "Reports" </p>
                        <img src="./images/State/KA1/SA_KA_Rep.png"><br><br><br>
                        <p>4) Then select the Month of which the reports are needed</p>
                        <img src="./images/State/KA1/SA_KA_DFNA_Cal.png"><br><br><br>
                        <p>5) For State users, their 'State' option is already selected.</p>
                        <p>6) Select an option in the 'District' dropdown for a specific state or to get all districts data, select 'All':</p>
                        <img src="./images/State/KA1/SA_KA_DFNA_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/State/KA1/SA_KA_DFNA_Block.png"><br><br><br>
                        <p>8) To download the result, click the "Submit" button</p>
                        <img src="./images/State/KA1/SA_KA_DFNA_Submit.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/State/KA1/SA_KA_DFNA_Download.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/State/KA1/SA_KA_DFNA_Reset.png"><br>
                    </div>

                    <div data-ng-hide="param!=='dfll'">
                        <p style="font-size: 30px"><b>Deactivated for Low Listenership</b></p>
                        <p>This report lists out the beneficiaries who have been deactivated due to low listenership (Not answered a single call for last six weeks)</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/State/KA1/SA_KA_RC.png"><br><br><br>
                        <p>3) Then  select "Deactivated for Low Listenership" under "Reports"</p>
                        <img src="./images/State/KA1/SA_KA_Rep.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/State/KA2/SA_KA_DFLL_Cal.png"><br><br><br>
                        <p>5) For State users, their 'State' option is already selected.</p>
                        <p>6) Select an option in the 'District' dropdown for a specific state or to get all districts data, select 'All':</p>
                        <img src="./images/State/KA2/SA_KA_DFLL_Dist.png"><br><br><br>
                        <p>7) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/State/KA2/SA_KA_DFLL_Block.png"><br><br><br>
                        <p>8) To download the result, click the "Submit" button</p>
                        <img src="./images/State/KA2/SA_KA_DFLL_Submit.png"><br><br><br>
                        <p>9) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/State/KA2/SA_KA_DFLL_Download.png"><br><br><br>
                        <p>10) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/State/KA2/SA_KA_DFLL_Reset.png"><br>
                    </div>
                    <div data-ng-hide="param!=='mrr'">
                        <p style="font-size: 30px"><b>Mother Rejected Records</b></p>
                        <p>This report lists out the Mother beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/State/KA1/SA_KA_RC.png"><br><br><br>
                        <p>3) Then select "Mother Rejected Records" under "Reports" </p>
                        <img src="./images/State/KA1/SA_KA_Rep.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/State/KA5/SA_KA_MRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/State/KA5/SA_KA_MRR_CalDate.png"><br><br><br>
                        <p>6) For State users, their 'State' option is already selected.</p>
                        <p>7) Select an option in the 'District' dropdown for a specific state or to get all districts data, select 'All':</p>
                        <img src="./images/State/KA5/SA_KA_MRR_Dist.png"><br><br><br>
                        <p>8) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/State/KA5/SA_KA_MRR_Block.png"><br><br><br>
                        <p>9) To view the result, click the "Submit" button</p>
                        <img src="./images/State/KA5/SA_KA_MRR_Submit.png"><br><br><br>
                        <p>10) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/State/KA5/SA_KA_MRR_Download.png"><br><br><br>
                        <p>11) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/State/KA5/SA_KA_MRR_Reset.png"><br>
                    </div>
                    <div  data-ng-hide="param!=='crr'" >
                        <p style="font-size: 30px"><b>Child Rejected Records</b></p>
                        <p>This report lists out all the Child beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/State/KA1/SA_KA_RC.png"><br><br><br>
                        <p>3) Then select "Child Rejected Records" under "Reports" </p>
                        <img src="./images/State/KA1/SA_KA_Rep.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/State/KA6/SA_KA_CRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/State/KA6/SA_KA_CRR_CalDate.png"><br><br><br>
                        <p>6) For State users, their 'State' option is already selected.</p>
                        <p>7) Select an option in the 'District' dropdown for a specific state or to get all districts data, select 'All':</p>
                        <img src="./images/State/KA6/SA_KA_CRR_Dist.png"><br><br><br>
                        <p>8) Next, select an option from the 'Block' dropdown in the same manner: (does not work if District is set to all)</p>
                        <img src="./images/State/KA6/SA_KA_CRR_Block.png"><br><br><br>
                        <p>9) To view the result, click the "Submit" button</p>
                        <img src="./images/State/KA6/SA_KA_CRR_Submit.png"><br><br><br>
                        <p>10) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/State/KA6/SA_KA_CRR_Download.png"><br><br><br>
                        <p>11) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/State/KA6/SA_KA_CRR_Reset.png"><br><br><br>
                    </div>
                </div>

                <div data-ng-hide="selectRole != 3 && selectRole != 7"><!--Disrict User-->
                    <div data-ng-hide="param!=='bl'" style="display: inline-block; ">
                        <p style="font-size: 30px"><b>Listen to <25% this month</b></p><br>
                        <p>The report lists out the beneficiaries who have listened to < 25% content on average, in the calls answered, during the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/District/MA/DA_RC.png" style="max-width: 828px;"><br><br><br>
                        <p>3) Then select "Listen to <25% this month" under "Reports" </p>
                        <img src="./images/District/kilkari/DA_KR_All.png" style="max-width: 828px;"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/District/kilkari/DA_KR_L25_Cal.png" style="max-width: 828px;"><br><br><br>
                        <p>5) Since this is for District user/admin, Select any/all block from “Block" dropdown, under specified "District" and "State".</p>
                        <img src="./images/District/kilkari/DA_KR_L25_Block.png"><br><br><br>
                        <p>6) To view the result, click the "Submit" button</p>
                        <img src="./images/District/kilkari/DA_KR_L25_sub - Copy.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/District/kilkari/DA_KR_L25_DownLoad.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/District/kilkari/DA_KR_L25_sub.png"><br>

                    </div>
                    <div data-ng-hide="param!=='bwd'">
                        <p style="font-size: 30px"><b>Self Deactivation</b></p><br>
                        <p>This report lists out all the beneficiaries who have deactivated by themselves in the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/District/MA/DA_RC.png"><br><br><br>
                        <p>3) Then select "Self Deactivation" under "Reports" </p>
                        <img src="./images/District/kilkari/DA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/District/kilkari/DA_KR_SD_Cal.png"><br><br><br>
                        <p>5) Since this is for District user/admin, Select any/all block from 'Block', under specified "District" and "State".</p>
                        <img src="./images/District/kilkari/DA_KR_SD_Block.png"><br><br><br>
                        <p>6) To view the result, click the "Submit" button</p>
                        <img src="./images/District/kilkari/DA_KR_SD_sub - Copy.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/District/kilkari/DA_KR_SD_Download.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/District/kilkari/DA_KR_SD_sub.png"><br>
                    </div>
                    <div data-ng-hide="param!=='dfna'">
                        <p style="font-size: 30px"><b>Deactivated for not answering</b></p>
                        <p>This report lists out the beneficiaries who were deactivated in the selected month, for not answering a call for 6 weeks continuously.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) select "Kilkari Reports" under "Reports Category" </p>
                        <img src="./images/District/MA/DA_RC.png"><br><br><br>
                        <p>3) Then select "Deactivated for not answering" under "Reports" </p>
                        <img src="./images/District/kilkari/DA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month of which the reports are needed</p>
                        <img src="./images/District/kilkari/DA_KR_DNA_Cal.png"><br><br><br>
                        <p>5) Since this is for District user/admin, Select any/all block from 'Block', under specified "District" and "State".</p>
                        <img src="./images/District/kilkari/DA_KR_DNA_Block.png"><br><br><br>
                        <p>6) To download the result, click the "Submit" button</p>
                        <img src="./images/District/kilkari/DA_KR_DNA_sub - Copy.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/District/kilkari/DA_KR_DNA_Download.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/District/kilkari/DA_KR_DNA_sub.png"><br>
                    </div>

                    <div data-ng-hide="param!=='dfll'">
                        <p style="font-size: 30px"><b>Deactivated for Low Listenership</b></p>
                        <p>This report lists out the beneficiaries who have been deactivated due to low listenership (Not answered a single call for last six weeks)</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/District/MA/DA_RC.png"><br><br><br>
                        <p>3) Then  select "Deactivated for Low Listenership" under "Reports"</p>
                        <img src="./images/District/kilkari/DA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/District/kilkari/DA_KR_DLL_Cal.png"><br><br><br>
                        <p>5) Since this is for District user/admin, Select any/all block from 'Block', under specified "District" and "State".</p>
                        <img src="./images/District/kilkari/DA_KR_DLL_Block.png"><br><br><br>
                        <p>6) To download the result, click the "Submit" button</p>
                        <img src="./images/District/kilkari/DA_KR_DLL_sub - Copy.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/District/kilkari/DA_KR_DLL_DownLoad.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/District/kilkari/DA_KR_DLL_sub.png"><br><br><br>
                    </div>
                    <div data-ng-hide="param!=='mrr'">
                        <p style="font-size: 30px"><b>Mother Rejected Records</b></p>
                        <p>This report lists out the Mother beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/District/MA/DA_RC.png"><br><br><br>
                        <p>3) Then select "Mother Rejected Records" under "Reports" </p>
                        <img src="./images/District/kilkari/DA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/District/kilkari/DA_KR_MRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/District/kilkari/DA_KR_MRR_CalDate.png"><br><br><br>
                        <p>6) Since this is for District user/admin, Select any/all block from 'Block', under specified "District" and "State".</p>
                        <img src="./images/District/kilkari/DA_KR_MRR_Block.png"><br><br><br>
                        <p>7) To view the result, click the "Submit" button</p>
                        <img src="./images/District/kilkari/DA_KR_MRR_sub - Copy.png"><br><br><br>
                        <p>8) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/District/kilkari/DA_KR_MRR_download.png"><br><br><br>
                        <p>9) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/District/kilkari/DA_KR_MRR_sub.png"><br>
                    </div>
                    <div  data-ng-hide="param!=='crr'" >
                        <p style="font-size: 30px"><b>Child Rejected Records</b></p>
                        <p>This report lists out all the Child beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/District/MA/DA_RC.png"><br><br><br>
                        <p>3) Then select "Child Rejected Records" under "Reports" </p>
                        <img src="./images/District/kilkari/DA_KR_All.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/District/kilkari/DA_KR_CRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/District/kilkari/DA_KR_CRR_CalDate.png"><br><br><br>
                        <p>6) Since this is for District user/admin, Select any/all block from 'Block', under specified "District" and "State".</p>
                        <img src="./images/District/kilkari/DA_KR_CRR_Block.png"><br><br><br>
                        <p>7) To view the result, click the "Submit" button</p>
                        <img src="./images/District/kilkari/DA_KR_CRR_Sub - Copy.png"><br><br><br>
                        <p>8) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/District/kilkari/DA_KR_CRR_Download.png"><br><br><br>
                        <p>9) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/District/kilkari/DA_KR_CRR_Sub.png"><br>
                    </div>
                </div>


                <div data-ng-hide="selectRole !=4">
                    <div data-ng-hide="param!=='bl'" style="display: inline-block; ">
                        <p style="font-size: 30px"><b>Listen to <25% this month</b></p><br>
                        <p>The report lists out the beneficiaries who have listened to < 25% content on average, in the calls answered, during the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/Block/MA0/BU_MA_RC.png" style="max-width: 828px;"><br><br><br>
                        <p>3) Then select "Listen to <25% this month" under "Reports" </p>
                        <img src="./images/Block/KA1/BU_KA_Reports.png" style="max-width: 828px;"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/Block/KA3/BU_KA_LT25_Cal.png" style="max-width: 828px;"><br><br><br>
                        <p>5) Since this is for block user, location details upto “Block” are already selected.</p>
                        <img src="./images/usermanual-blocklevel1.jpg"><br><br><br>
                        <p>6) To view the result, click the "Submit" button</p>
                        <img src="./images/Block/KA3/BU_KA_LT25_Submit.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/Block/KA3/BU_KA_LT25_Download.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/Block/KA3/BU_KA_LT25_Reset.png"><br>

                    </div>
                    <div data-ng-hide="param!=='bwd'">
                        <p style="font-size: 30px"><b>Self Deactivation</b></p><br>
                        <p>This report lists out all the beneficiaries who have deactivated by themselves in the selected month.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/Block/MA0/BU_MA_RC.png"><br><br><br>
                        <p>3) Then select "Self Deactivation" under "Reports" </p>
                        <img src="./images/Block/KA1/BU_KA_Reports.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/Block/KA4/BU_KA_SD_Month.png"><br><br><br>
                        <p>5) Since this is for block user, location details upto “Block” are already selected.</p>
                        <img src="./images/usermanual-blocklevel1.jpg"><br><br><br>
                        <p>6) To view the result, click the "Submit" button</p>
                        <img src="./images/Block/KA4/BU_KA_SD_Submit.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/Block/KA4/BU_KA_SD_Download.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/Block/KA4/BU_KA_SD_Reset.png"><br>
                    </div>
                    <div data-ng-hide="param!=='dfna'">
                        <p style="font-size: 30px"><b>Deactivated for not answering</b></p>
                        <p>This report lists out the beneficiaries who were deactivated in the selected month, for not answering a call for 6 weeks continuously.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) select "Kilkari Reports" under "Reports Category" </p>
                        <img src="./images/Block/MA0/BU_MA_RC.png"><br><br><br>
                        <p>3) Then select "Deactivated for not answering" under "Reports" </p>
                        <img src="./images/Block/KA1/BU_KA_Reports.png"><br><br><br>
                        <p>4) Then select the Month of which the reports are needed</p>
                        <img src="./images/Block/KA1/BU_KA_DFNA_Month.png"><br><br><br>
                        <p>5) Since this is for block user, location details upto “Block” are already selected.</p>
                        <img src="./images/usermanual-blocklevel1.jpg"><br><br><br>
                        <p>6) To download the result, click the "Submit" button</p>
                        <img src="./images/Block/KA1/BU_KA_DFNA_Submit.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/Block/KA1/BU_KA_DFNA_Download.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/Block/KA1/BU_KA_DFNA_Reset.png"><br>
                    </div>

                    <div data-ng-hide="param!=='dfll'">
                        <p style="font-size: 30px"><b>Deactivated for Low Listenership</b></p>
                        <p>This report lists out the beneficiaries who have been deactivated due to low listenership (Not answered a single call for last six weeks)</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/Block/MA0/BU_MA_RC.png"><br><br><br>
                        <p>3) Then  select "Deactivated for Low Listenership" under "Reports"</p>
                        <img src="./images/Block/KA1/BU_KA_Reports.png"><br><br><br>
                        <p>4) Then select the Month </p>
                        <img src="./images/Block/KA2/BU_KA_DFLL_Month.png"><br><br><br>
                        <p>5) Since this is for block user, location details upto “Block” are already selected.</p>
                        <img src="./images/usermanual-blocklevel1.jpg"><br><br><br>
                        <p>6) To download the result, click the "Submit" button</p>
                        <img src="./images/Block/KA2/BU_KA_DFLL_Submit.png"><br><br><br>
                        <p>7) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/Block/KA2/BU_KA_DFLL_Download.png"><br><br><br>
                        <p>8) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/Block/KA2/BU_KA_DFLL_Reset.png"><br><br><br>
                    </div>
                    <div data-ng-hide="param!=='mrr'">
                        <p style="font-size: 30px"><b>Mother Rejected Records</b></p>
                        <p>This report lists out the Mother beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/Block/MA0/BU_MA_RC.png"><br><br><br>
                        <p>3) Then select "Mother Rejected Records" under "Reports" </p>
                        <img src="./images/Block/KA1/BU_KA_Reports.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/Block/KA5/BU_KA_MRR_Month.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/Block/KA5/BU_KA_MRR_CalDate.png"><br><br><br>
                        <p>6) Since this is for block user, location details upto “Block” are already selected.</p>
                        <img src="./images/usermanual-blocklevel1.jpg"><br><br><br>
                        <p>7) To view the result, click the "Submit" button</p>
                        <img src="./images/Block/KA5/BU_KA_MRR_Submit.png"><br><br><br>
                        <p>8) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/Block/KA5/BU_KA_MRR_Download.png"><br><br><br>
                        <p>9) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/Block/KA5/BU_KA_MRR_Reset.png"><br>
                    </div>
                    <div  data-ng-hide="param!=='crr'" >
                        <p style="font-size: 30px"><b>Child Rejected Records</b></p>
                        <p>This report lists out all the Child beneficiaries who have been rejected by MOTECH due to any validation in data during registration.</p>
                        <p>Steps to download the reports</p>
                        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
                        <p>2) Select "Kilkari Reports" under "Reports Category"</p>
                        <img src="./images/Block/MA0/BU_MA_RC.png"><br><br><br>
                        <p>3) Then select "Child Rejected Records" under "Reports" </p>
                        <img src="./images/Block/KA1/BU_KA_Reports.png"><br><br><br>
                        <p>4) Then select the Month under "Select Week" </p>
                        <img src="./images/Block/KA6/BU_KA_CRR_Cal.png"><br><br><br>
                        <p>5) Then select the 1st day of week under "Select Week" </p>
                        <img src="./images/Block/KA6/BU_KA_CRR_CalDate.png"><br><br><br>
                        <p>6) Since this is for block user, location details upto “Block” are already selected.</p>
                        <img src="./images/usermanual-blocklevel1.jpg"><br><br><br>
                        <p>7) To view the result, click the "Submit" button</p>
                        <img src="./images/Block/KA6/BU_KA_CRR_Submit.png"><br><br><br>
                        <p>8) Click on the download link to download the report. The selected report will be downloaded in Excel files.</p>
                        <img src="./images/Block/KA6/BU_KA_CRR_Download.png"><br><br><br>
                        <p>9) Clicking on ‘Reset’ button will reset all the fields to their default values.</p>
                        <img src="./images/Block/KA6/BU_KA_CRR_Reset.png"><br>
                    </div>
                </div>
            </span></div>
        </div>

    </div>

</div>