<div class="container-fluid" ng-controller="UserManualController" style="padding:0 0 0 0">
    <div ui-view></div>
    <div class="block12 container-fluid">
    <p>Welcome! This giude will walk through portal about how to access the website and information. Select the below role to start with</p>
    <p>I am a: <select class="selectpicker" title="Select the Role" style="color:black">
            <option>Mustard</option>
            <option>Ketchup</option>
            <option>Relish</option>
    </select></p>
    </div>
    <div class="col-md-3 user-manual">

        <div>Website Information
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div>Kilkari Report
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div>Mobile Academy Report
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div>User Management
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
        <div>Profile
            <div class="glyphicon glyphicon-plus" style="float: right;"></div>
        </div>
    </div>
    <div class="col-md-9" style="background-color: #f2f2f2;">
<!--        <div ng-app="myApp">

        <p><a href="#/!">Main</a></p>

        <a href="#!userManagement/1">Banana</a>
        <a href="#!tomato">Tomato</a>

        <p>Click on the links to change the content.</p>

        <p>Use the "otherwise" method to define what to display when none of the links are clicked.</p>

        <div ng-view></div>

    </div>-->
    </div>
</div>