<div class="container-fluid" data-ng-controller="websiteInformationController" style="padding-left: 30px">
    <div data-ui-view></div>
    <h2>Website Information</h2>
    <div class="userManualPic">
        <p>Website Information deals with all the informative links/tabs for which a login/access is not required.</p>
        <p>Basic information about the thoughts, vision and mission decided for the web application are available in the <b>About Us</b>, <b>Kilkari</b> and <b>Mobile Academy</b> pages:</p>
        <img src="images/1.png" alt="aboutLinks">
        <br/><br/><br/>

        <h4><b>Policies, Help and Sitemap</b></h4>
        <ul>
            <li>Terms and conditions towards the usage of the application can be found by clicking on <b>terms and conditions</b> link at the bottom-left.</li>
            <li>The disclaimer from the Ministry of Health is found in the <b>disclaimer</b> page.</li>
            <li>Privacy policy towards the app for the protection of user data can be found from the <b>privacy policy</b> link.</li>
            <li>Copyright policy towards the code, design and/or content of the app is in the <b>copright policy</b> page.</li>
            <li><b>hyperlinking policy</b> page provides a statement regarding the links used in the app.</li>
            <li><b>help</b> link will bring one to the Help page to solve some basic problems.</li>
            <li><b>sitemap</b> link tells the user what links/tabs used in each section of the app.</li>
        </ul>
        <img src="images/3.png" alt="policyLinks">
        <br/><br/><br/>

        <h4><b>User Manual</b></h4>
        <p>Clicking on the <b>User Manual</b> tab will navigate to the user manual page:</p>
        <img src="images/6.png" alt="UMlink">
        <br/><br/><br/>
        <p>1) By default, an <u>Anonymous</u> user type is selected, given access to only two links:</p>
        <img src="images/UMwebInfo/UMc1.png" alt="Anonymous onlooker">
        <br/><br/><br/>
        <p>2) The user is supposed to select the role they have been given in the application from the dropdown menu.</p>
        <p>3) Admin level personnel acquire five information tabs and User level personnel acquire four tabs:</p>
        <img src="images/UMwebInfo/UMc2.png" alt="User access">
        <br/><br/>
        <img src="images/UMwebInfo/UMc3.png" alt="Admin access">
        <br/><br/><br/>
        <p>4) Clicking on <b>Website Information</b> will show this current page. This page is the default selection for user manual.</p><br/>
        <p>5) <b>Kilkari Reports</b> tab will show the following page showing links under this category:</p>
        <img src="images/UMwebInfo/UMc4.png" alt="Kilkari Section">
        <br/><br/><br/>
        <p>6) Clicking on any of the given links will show the user a page with information regarding the selected topic.</p>
        <p>7) Clicking on the back button on this page will navigate the user back to the <b>Kilkari Reports</b> page:</p>
        <img src="images/UMwebInfo/UMc5.png" alt="Kilkari Section">
        <br/><br/><br/>
        <p>8) <b>Mobile Academy Reports</b> tab will show the following page showing links under this category:</p>
        <img src="images/UMwebInfo/UMc6.png" alt="MA Section">
        <br/><br/><br/>
        <p>9) Clicking on any of the given links will show the user a page with information regarding the selected topic.</p>
        <p>10) Clicking on the back button on this page will bring the user back to the <b>Mobile Academy Reports</b> page, the same as with Kilkari reports:</p>
        <img src="images/UMwebInfo/UMc7.png" alt="MA Section">
        <br/><br/><br/>
        <p>11) <b>User Management</b> tab will bring the Admin-level personnel to the explanation for the usage of the User Management page:</p>
        <img src="images/UMwebInfo/UMc8.png" alt="User Management">
        <br/><br/><br/>
        <p>12) <b>Profile Section</b> gives an explanation about the usage of the login page, logout button and the profile management of the user:</p>
        <img src="images/UMwebInfo/UMc9.png" alt="Profile Section">
        <br/><br/><br/>

        <h4><b>FAQ</b></h4>
        <p>The FAQ page contains some frequently asked questions about the various sections of the application.</p>
        <p>1) The FAQ page can be accessed by anyone by clicking on the <b>FAQ</b> link:</p>
        <img src="images/5.png" alt="">
        <br/><br/>
        <p>2) In the FAQ page, the <b>Website Information</b> link is the default selected tab.</p>
        <p>3) Clicking on any of the tabs in the sidebar will take the user to the respective section.</p>
        <p>4) In each section, some frequently asked questions are mentioned.</p>
        <p>5) Clicking on a question will show the answer to that question under it.</p>
        <p>6) Clicking on the question again will hide the answer. This is compulsory to hide the answer:</p>
        <img src="images/UMfaq.png" alt="FAQpage">
        <br/><br/><br/>

        <h4><b>Feedback Form and Contact Us Page</b></h4>
        <p>1) The <b>Feedback</b> tab is provided at the top-right of any page. Clicking on this tab will show a feedback form:</p>
        <img src="images/2.png" alt="">
        <br/><br/>
        <p>2) A user who intends to provide feedback on the experience and improvements towards the application must provide all details marked with an asterisk(*).</p>
        <img src="images/UMfeedback.png" alt="feedbackPage">
        <br/><br/><br/>
        <p>3) After filling up the form, the user must click on the Captcha tick-box and click on submit to send their feedback after a tick-mark appears.</p>
        <p>4) This will show a message regarding success/failure. In case of a successful submission, the user is navigated to a success page, with a link to return to the feedback page.</p>
        <br/><br/>
        <p>5) The <b>Contact Us</b> link beside the Feedback link navigates the user to the contact page:</p>
        <img src="images/UMcontactUs.png" alt="contactUs page">
        <br/><br/>
        <p>6) This page shows the user a number of contact numbers, email addresses and location which can be used to contact the Ministry of Health</p>
        <p>7) A request for contact/message can also be sent by the user using the given info by submitting the contact form using the same process as the feedback form.</p>
        <p>8) Users must compulsorily fill the fields of the contact form <b>with their own details</b>, check the captcha tick-box and submit the form, when necessary.</p>
        <br><br>

        <p>At the bottom-right of all pages, information regarding the latest update of the application, the total number of visits to all pages and the date and time of the latest loading of the current page is provided in the footer</p>
        <img src="images/4.png" alt="">
        <br/>
    </div>
</div>