<script type="text/javascript">
	if(typeof nmsReportsApp === 'undefined'){
        window.location.assign('http://localhost:8080/#!/login');
	}
</script>
<div data-ng-controller="UserTableController" class='userTable'>
	<div class="block header">
		<div class='block inputs row'>
			<h1 class='col-sm-6'>User Management</h1>
			<input type="text" class="form-control input input-sm" data-ng-model="filterText" name="tableSearch" placeholder="Search">
			<input type="button" class="btn btn-sm btn-primary" name="bulkUpload" data-ui-sref="userManagement.bulkUpload" value="Upload Bulk User">
			<input type="button" class="btn btn-sm btn-primary" name="newUser" data-ng-click="createUser()" value="Create new User">
		</div>
	</div>

	<div>
		<button class="btn btn-sm btn-primary resetButton" data-ng-click="resetFilters()">Reset Filters</button>
		<table class="table table-bordered">
			<tr>
				<th class="sortable-columns" data-ng-click="sort_by('id')"><a>Id</a></th>
				<th class="sortable-columns" data-ng-click="sort_by('name')"><a>Name</a></th>
				<th class="sortable-columns" data-ng-click="sort_by('username')"><a>Username</a></th>
				<th class="sortable-columns" data-ng-click="sort_by('phoneNumber')"><a>Phone no.</a></th>
				<th class="sortable-columns" data-ng-click="sort_by('email')"><a>Email id</a></th>
				<th class="th-dropdown">
					<div data-uib-dropdown>
						<div data-uib-dropdown-toggle id="accessTypeDropdown">
							<a href>
								Access Type
								<span class="caret"></span>
							</a>
							<a href data-ng-if="exists(accType)">
								({{crop(accType)}})
							</a>
						</div>
						<ul class="dropdown-menu" data-uib-dropdown-menu aria-labelledby="accessTypeDropdown">
							<li><a data-ng-click="setUniqueAccessTypes('')">ALL</a></li>
							<li data-ng-repeat="aType in uniqueAT = (getUniqueAccessTypes())">
								<a data-ng-click="setUniqueAccessTypes(aType)" >{{aType}}</a>
							</li>
						</ul>
					</div>
				</th>
				<th class="th-dropdown">
					<div data-uib-dropdown>
						<div data-uib-dropdown-toggle id="accessLevelDropdown">
							<a href>
								Access Level
								<span class="caret"></span>
							</a>
							<a href data-ng-if="exists(accLevel)">
								({{crop(accLevel)}})
							</a>
						</div>
						<ul class="dropdown-menu" data-uib-dropdown-menu aria-labelledby="accessLevelDropdown">
							<li>
								<a data-ng-click="setUniqueAccessLevels('')">ALL</a>
							</li>
							<li data-ng-repeat="aLevel in uniqueAL = (getUniqueAccessLevels())">
								<a data-ng-click="setUniqueAccessLevels(aLevel)" >{{aLevel}}</a>
							</li>
						</ul>
					</div>
				</th>
				<th class="th-dropdown">
					<div data-uib-dropdown>
						<div data-uib-dropdown-toggle id="stateDropdown">
							<a href>
								State
								<span class="caret"></span>
							</a>
							<a href data-ng-if="exists(stateName)">
								({{crop(stateName)}})
							</a>
						</div>
						<ul class="dropdown-menu" data-uib-dropdown-menu aria-labelledby="stateDropdown">
							<li>
								<a data-ng-click="setUniqueStates('')">ALL</a>
							</li>
							<li data-ng-repeat="sName in sNames = (getUniqueStates()) | orderBy">
								<a data-ng-click="setUniqueStates(sName)" >{{sName}}</a>
							</li>
						</ul>
					</div>
				</th>
				<th class="th-dropdown">
					<div data-uib-dropdown>
						<div data-uib-dropdown-toggle id="districtDropdown">
							<a href>
								District
								<span class="caret"></span>
							</a>
							<a href data-ng-if="exists(districtName)">({{crop(districtName)}})
							</a>
						</div>
						<ul class="dropdown-menu" data-uib-dropdown-menu aria-labelledby="districtDropdown">
							<li>
								<a data-ng-click="setUniqueDistricts('')">ALL</a>
							</li>
							<li data-ng-repeat="dName in dNames = (getUniqueDistricts()) | orderBy">
								<a data-ng-click="setUniqueDistricts(dName)" >{{dName}}</a>
							</li>
						</ul>
					</div>
				</th>
				<th class="th-dropdown">
					<div data-uib-dropdown>
						<div data-uib-dropdown-toggle id="blockDropdown">
							<a href>Block
								<span class="caret"></span>
							</a>
							<a href data-ng-if="exists(blockName)">
								({{crop(blockName)}})
							</a>
						</div>
						<ul class="dropdown-menu" data-uib-dropdown-menu aria-labelledby="blockDropdown">
							<li><a data-ng-click="setUniqueBlocks('')">ALL</a></li>
							<li data-ng-repeat="bName in bNames = (getUniqueBlocks()) | orderBy">
								<a data-ng-click="setUniqueBlocks(bName)" >{{bName}}</a>
							</li>
						</ul>
					</div>
				</th>
				<th><a>Edit</a></th>
			</tr>
			<tr data-ng-repeat="item in filterData = (getAllUsers() | filter : search ) | orderBy : sorter : reverse  | limitTo : numPerPage : numPerPage * (currentPageNo - 1)">
				<td>{{item.id - 1}}</td>
				<td>{{item.name}}</td>
				<td>{{item.username}}</td>
				<td>{{item.phoneNumber}}</td>
				<td>{{item.email}}</td>
				<td>{{item.accessType}}</td>
				<td>{{item.accessLevel}}</td>
				<td>{{item.state}}</td>
				<td>{{item.district}}</td>
				<td>{{item.block}}</td>
				<td><span data-ng-if="item.createdBy"><a class="pointer" data-ng-click="editUser(item.id)">Edit</a></span></td>
			</tr>
		</table>

		<div data-ng-if="waiting" class="loading">
			<img src="images/pageloader.gif" alt="loading...">
		</div>

		<div class="block pagination">
			<pagination  total-items="filterData.length" items-per-page="numPerPage"
						 current-page="currentPageNo" class="pagination-small">
			</pagination>
		</div>
	</div>
</div>