<div class="container-fluid" data-ng-controller="userManual_ProfileController" style="padding-left: 30px">
    <h2>Profile</h2>
    <div>
        <p>1) The users can login into the system using the URL: <a href="https://rchivrreports.in/app/">https://rchivrreports.in/app/</a>.</p>
        <p>2) To login User must enter a valid User Name and Password combination</p>
        <p>3) Then click on ‘Login’ button to log in to the MIS interface</p>
        <img src="./images/userManualLogin.jpg" alt="User Manual Login" style="width: 90%"><br><br><br>
        <p>4) Click on the ‘Logout’ button on the top-right as shown in above screen to logout of the application.</p>
        <img src="./images/userManualLogout.png" alt="user Manual Logout" style="width: 90%"><br><br><br>
        <p>5) Click on ‘My Profile’ located beside the logout option. Mention your old Password and new password twice and then press change password button</p>
        <img src="./images/userManualProfile.jpg" alt="user Manual Change password" style="width: 90%"><br><br>
    </div>
</div>
