<script type="text/javascript">
    if(typeof nmsReportsApp === 'undefined'){
        window.location.assign("http://localhost:8080/#!/login");
    }
</script>
<div class="container-fluid" data-ng-controller="websiteInformationController" style="padding-left: 30px">
    <div data-ui-view></div>
    <h2>Website Information</h2>
    <div class="userManualPic">
        <h4><b>MIS Header</b></h4>
        <p>The MIS header displays the “GoI” logo at the top left, "Digital India" and "National Health Mission" logos at the top right corner.</p>
        <img src="images/NewHeader.png" alt="Header"><br><br>
        <h4><b>About Us, Kilkari and Mobile Academy</b></h4>
        <p>Basic information about the vision and mission is available in the <b>About Us</b>, <b>Kilkari</b> and <b>Mobile Academy</b> pages:</p>
        <img src="images/1.png" alt="aboutLinks">
        <br/><br/><br/>

        <h4><b>Policies, Help and Sitemap</b></h4>
        <ul>
            <li><b>Terms and conditions</b> link at the bottom-left provides terms and conditions towards the usage of the application.</li>
            <li><b>Privacy policy</b> link provides privacy policies of the application for the protection of user data.</li>
            <li><b>Copyright policy</b> link provides copyright policy of the code, design and content of the application.</li>
            <li><b>Hyperlinking policy</b> link provides a statement regarding the links used in the application.</li>
            <li><b>Disclaimer</b> link provides the disclaimer from the 'Ministry of Health and Family Welfare'.</li>
            <li><b>Help</b> link provides assistance if there is any difficulty in using the website</li>
            <li><b>Sitemap</b> describes about all the urls/tabs in the application.</li>
        </ul>
        <img src="images/3.png" alt="policyLinks">
        <br/><br/><br/>

        <h4><b>User Manual</b></h4>
        <p>1) By default, an Anonymous user type is selected and is given access to Website Information and Profile Section:</p>
        <img src="images/UMwebInfo/UMc1.png" alt="Anonymous onlooker">
        <br/><br/><br/>
        <p>2) The user is supposed to select the relevant role from the dropdown menu.</p>
        <img src="images/UMwebInfo/RoleDropdown.png" alt="Role Dropdown">
        <br/><br/>
        <p>3.a) Admin level personnel has seven tabs </p>
        <img src="images/UMwebInfo/UMc2.png" alt="Admin access">
        <br/><br/>
        <p>3.b) User level personnel has six tabs:</p>
        <img src="images/UMwebInfo/UMc3.png" alt="User access">
        <br/><br/><br/>
        <p>4) Clicking on <b>Website Information</b> shows this current page. This page is the default selection for user manual.</p><br/>
        <p>5) <b>Kilkari Line Listing Reports</b> tab shows the following page, showing links under this category:</p>
        <img src="images/UMwebInfo/UMc4.png" alt="Kilkari Section">
        <br/><br/><br/>
        <p>6) Clicking on any of the links shows a page with information regarding the selected topic.</p>
        <p>7) Clicking on the back button on this page navigates back to the <b>Kilkari Line Listing Reports</b> page:</p>
        <img src="images/UMwebInfo/UMc5.png" alt="Kilkari Section">
        <br/><br/><br/>
        <p>8) <b>Kilkari Aggregate Reports</b> tab shows the following page, showing links under this category:</p>
        <img src="images/UMwebInfo/UMc4Agg.png" alt="Kilkari Section">
        <br/><br/><br/>
        <p>9) Clicking on any of the links shows a page with information regarding the selected topic.</p>
        <p>10) Clicking on the back button on this page navigates back to the <b>Kilkari Aggregate Reports</b> page:</p>
        <img src="images/UMwebInfo/UMc5Agg.png" alt="Kilkari Section">
        <br/><br/><br/>
        <p>11) <b>Mobile Academy Line Listing Reports</b> tab shows the following page showing links under this category:</p>
        <img src="images/UMwebInfo/UMc6.png" alt="MA Section">
        <br/><br/><br/>
        <p>12)Clicking on any of the links shows a page with information regarding the selected topic.</p>
        <p>13) Clicking on the back button on this page navigates back to the <b>Mobile Academy Line Listing Reports</b> page:</p>
        <img src="images/UMwebInfo/UMc7.png" alt="MA Section">
        <br/><br/><br/>
        <p>14) <b>Mobile Academy Aggregate Reports</b> tab shows the following page showing links under this category:</p>
        <img src="images/UMwebInfo/UMc6Agg.png" alt="MA Section">
        <br/><br/><br/>
        <p>15)Clicking on any of the links shows a page with information regarding the selected topic.</p>
        <p>16) Clicking on the back button on this page navigates back to the <b>Mobile Academy Aggregate Reports</b> page:</p>
        <img src="images/UMwebInfo/UMc7Agg.png" alt="MA Section">
        <br/><br/><br/>
        <p>17) <b>User Management</b> tab helps the Admin-level user regarding the User Management page:</p>
        <img src="images/UMwebInfo/UMc8.png" alt="User Management">
        <br/><br/><br/>
        <p>18) <b>Profile Section</b> describes about the usage of the login, logout and profile management:</p>
        <img src="images/UMwebInfo/UMc9.png" alt="Profile Section">
        <br/><br/><br/>

        <h4><b>FAQ</b></h4>
        <p>The FAQ page contains answers to frequently asked questions about the application.</p>
        <p>1) The FAQ page can be accessed by clicking on the <b>FAQ</b> tab:</p>
        <img src="images/5.png" alt="">
        <br/><br/>
        <p>2) In the FAQ page, the <b>General Information</b> is the default selected tab.</p>
        <p>3) Clicking on any of the tabs in the left pane shows the respective section.</p>
        <p>4) Each section has relevant frequently asked questions.</p>
        <p>5) Clicking on a question shows the answer to that question.</p>
        <img src="images/UMfaq.png" alt="FAQpage">
        <br/><br/><br/>

        <h4><b>Feedback Form and Contact Us Page</b></h4>
        <p>1) Clicking on the <b>Feedback</b> tab provided at the top-right corner shows a feedback form:</p>
        <img src="images/2.png" alt="">
        <br/><br/>
        <div>2) To provide feedback on the experience and improvements towards the application,
            fill all the details marked with an asterisk(<span style="color: red;"> * </span>),
            <br/> click on the Captcha tick-box and submit.</div>
        <img src="images/UMfeedback.png" alt="feedbackPage">
        <br/><br/>
        <p>3) A notification regarding successful submission is shown.</p>
        <br/>
        <p>4) The <b>Contact Us</b> tab at the top-right navigates to the contact us page:</p>
        <img src="images/UMcontactUs.png" alt="contactUs page">
        <br/><br/>
        <p>5) This page contains contact numbers, email addresses and locations of the 'Ministry of Health and Family Welfare'</p>
        <p>6) The Ministry can also be contacted using the contactUs form provided on right side of the screen </p>
        <p>7) Fill the contactUs form with all mandatory details and click the submit button</p>
        <br><br>


        <h4><b>Forgot password</b></h4>
        <p>1) Use the forgot password link provided in homepage in case if you have forgotten your old password</p>
        <img src="images/forgotPassword-1.png" alt="feedbackPage link">
        <br/><br/>
        <p>2) Click on the forgot password link to open forgotpassword page</p>
        <img src="images/forgotPassword-2.png" alt="feedbackPage">
        <br/><br/>
        <p>3) Fill the from by following the given conditions</p>
        <img src="images/forgotPassword-3.png" alt="forgotpassword page">
        <br/><br/>
        <p>4) After filling the form click the submit form</p>
        <img src="images/forgotPassword-4.png" alt="orgotpassword page">
        <br/><br/>
        <p>5) After submitting password will be changed successfully</p>
        <img src="images/forgotPassword-5.png" alt="feedbackPage">
        <br/><br/>

        <h4><b>Footer</b></h4>
        <p>The information regarding the latest update of the application,
            the total number of visits to the website and latest loaded date and
            <br/> time of the current page is shown at right side of the footer</p>
        <img src="images/4.png" alt="">
        <br/>
    </div>
</div>