<div class="container-fluid" data-ng-controller="websiteInformationController" style="padding-left: 30px">
    <div data-ui-view></div>
    <h2>Website Information</h2>
    <p>Website Information deals with all the informative links for which a login/access is not required.</p>
    <p>Basic information about the thoughts, vision and mission decided for the web application are available in the <b>About Us</b>, <b>Kilkari</b> and <b>Mobile Academy</b> pages:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>

    <h4>Policies, Help and Sitemap</h4>
    <ul>
        <li>Terms and conditions towards the usage of the application can be found by clicking on <b>terms and conditions</b> link at the bottom-left</li>
        <li>The disclaimer from the Ministry of Health/Application deployer is found in the <b>disclaimer</b> page.</li>
        <li>Privacy policy towards the app for the protection of user data can be found from the <b>privacy policy</b> link</li>
        <li>Copyright policy towards the code, design and/or content of the app is in the <b>copright policy</b> page</li>
        <li><b>hyperlinking policy</b> page provides a statement regarding the links used in the app</li>
        <li><b>help</b> link will bring one to the Help page to solve some basic problems</li>
        <li><b>sitemap</b> page shows the user the links used in various pages of the app</li>
    </ul>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>

    <h4>User Manual</h4>
    <p>Clicking on the <b>User Manual</b> link will take the user to the user manual page:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>At the beginning, the user is pre selected to be an <u>Anonymous</u> person, given access to only two links:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>The user is supposed to select the role they would be using in the application from the dropdown menu.</p>
    <p>Admin level personnel can access five links while User level personnel can access four of them:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>Clicking on <b>Website Information</b> will show this current page. This page is the default selection.</p><br/>
    <p><b>Kilkari Reports</b> link will show the following page showing links under this category:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>Clicking on any of the given links will show the user a page with information regarding the selected topic.</p>
    <p>Clicking on the back button on this page will bring the user back to the <b>Kilkari Reports</b> page:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p><b>Mobile Academy Reports</b> link will show the following page showing links under this category:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>Clicking on any of the given links will show the user a page with information regarding the selected topic.</p>
    <p>Clicking on the back button on this page will bring the user back to the <b>Mobile Academy Reports</b> page, the same as with Kilkari reports:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p><b>User Management</b> link will bring the Admin-level personnel to the explanation for the usage of the User Management page:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p><b>Profile Section</b> gives an explanation on the usage of the login page, logout button and the profile management of the user</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>

    <h4>FAQ</h4>
    <p>The FAQ page contains some frequently asked questions about the various sections of the application</p>
    <p>The FAQ page can be accessed by anyone by clicking on the <b>FAQ</b> link:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>In the FAQ page, the <b>Website Information</b> link is pre-selected.</p>
    <p>Clicking on any of the links in the sidebar will take the user to the respective section.</p>
    <p>In each section, some frequently asked questions are mentioned as links.</p>
    <p>Clicking on the link to a question will show the answer to that question under it.</p>
    <p>Clicking on the question link again will hide the answer. this is compulsory to hide the answer:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>

    <h4>Feedback Form</h4>
    <p>The <b>Feedback</b> link is provided at the top-right of any page. Clicking on this link will show a feedback form:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>A user who intends to provide feedback on the experience and improvements towards the application must provide all details marked with an asterisk(*)</p>
    <p>After filling up the form, the user must fulfil the Captcha condition and click on submit to send their feedback</p>
    <p>This will show a message regarding success/failure. In case of a successful submission, the form is reset to blank fields</p>
    <br/><br/>
    <h4>Contact Page</h4>
    <p>The <b>Contact Us</b> link beside the Feedback link takes the user to the contact page:</p>
    <img src="" alt="" class="umWebInfoPic">
    <br/><br/>
    <p>This page shows the user a number of contact numbers, email addresses and location which can be used to contact the Ministry of Health</p>
    <p>A request for contact/message can also be sent by the user using the given info by submitting the contact form</p>
    <p>Users must compulsorily fill the fields of the contact form <b>with their own details</b> and submit the form, when necessary.</p>
    <br><br>

    <p>At the bottom-right of all pages, information regarding the latest update of the application, the total number of visits to all pages and the date and time of the latest loading of the current page is provided in the footer</p>

</div>